<b>Personal Information: </b>

Name: Xiaoyu Yang

e-mail: yangxybupt@outlook.com

Language: Python 3.7

The analysis work is done in Python locally. And Jupyter Notebook makes the analysis work more readable :)

# Overview


Stackoverflow provided me with 2 datasets:  
* posts: Title + specifications of all posts in 2015
* users: List of users with display name, age and location if specified

My task is as an analyst in an online company, I need to help company get some more insights on user behavior and trends on their
platform.

Let's start!

## Analysis for 2 datasets
<b>Note</b>: In this part, I first load the datasets and do some basic statical analysis on them individually, and then join two table to do analysis, such as number of answer counts, tags. And at the same time, I analyze the correlation within features. Finally, I did some prediction and evaluation work of the dataset.

In [1]:
import pandas as pd
import math
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 150)

post_tb = pd.read_csv("stackoverflow2015_posts.csv")
user_tb = pd.read_csv("stackoverflow2015_users.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
post_tb.head()

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,34016263,Real alternative for Google Feed API,NaN,0.0,13,NaN,2015-12-01 08:55:53.743 UTC,9.0,2015-12-04 11:52:25.647 UTC,2015-12-04 11:52:25.647 UTC,NaN,4671020.0,NaN,4671020.0,NaN,1,15,javascript|php|json|rss|google-feed-api,4240.0
1,28321638,Strongly Typed RedirectToAction (Futures) usin...,NaN,0.0,4,NaN,2015-02-04 12:38:37.197 UTC,3.0,2015-02-04 12:38:37.197 UTC,NaN,NaN,NaN,NaN,826568.0,NaN,1,4,c#|asynchronous|asp.net-mvc-5|asp.net-mvc-futures,425.0
2,34054617,Magento 2 installing language packs (nl_NL tra...,34055069.0,1.0,0,NaN,2015-12-02 22:50:38.273 UTC,3.0,2015-12-17 08:06:23.237 UTC,2015-12-11 03:52:32.467 UTC,NaN,1364007.0,NaN,3215647.0,NaN,1,2,magento|magento2|magento-2.0,2938.0
3,27836577,How to mock a tornado coroutine function using...,27880772.0,1.0,0,NaN,2015-01-08 09:17:39.027 UTC,3.0,2015-01-10 20:15:07.26 UTC,2015-01-08 09:22:43.9 UTC,NaN,324490.0,NaN,324490.0,NaN,1,9,python|unit-testing|mocking|tornado,2035.0
4,32064375,Magnet pattern and overloaded methods,32068645.0,1.0,0,NaN,2015-08-18 05:42:56.653 UTC,5.0,2015-08-18 09:31:58.83 UTC,2015-08-18 06:16:52.367 UTC,NaN,554460.0,NaN,554460.0,NaN,1,13,scala|implicit,464.0

In [4]:
user_tb.head()

        id   display_name  age                    location
0   431965         Damien  NaN                 Netherlands
1  5503898         Ravers  NaN                    Portugal
2  8823852  Vishnu Baliga  NaN        Kochi, Kerala, India
3  6432429  Matthew Hinea  NaN  Seattle, WA, United States
4  1654841  Milan Thummar  NaN                 Pune, India

In [5]:
post_tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5594392 entries, 0 to 5594391
Data columns (total 19 columns):
id                          int64
title                       object
accepted_answer_id          float64
answer_count                float64
comment_count               int64
community_owned_date        object
creation_date               object
favorite_count              float64
last_activity_date          object
last_edit_date              object
last_editor_display_name    object
last_editor_user_id         float64
owner_display_name          object
owner_user_id               float64
parent_id                   float64
post_type_id                int64
score                       int64
tags                        object
view_count                  float64
dtypes: float64(7), int64(4), object(8)
memory usage: 811.0+ MB

In [6]:
user_tb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10097978 entries, 0 to 10097977
Data columns (total 4 columns):
id              int64
display_name    object
age             float64
location        object
dtypes: float64(1), int64(1), object(2)
memory usage: 308.2+ MB

In [7]:
post_tb.columns.values.tolist()

['id',
 'title',
 'accepted_answer_id',
 'answer_count',
 'comment_count',
 'community_owned_date',
 'creation_date',
 'favorite_count',
 'last_activity_date',
 'last_edit_date',
 'last_editor_display_name',
 'last_editor_user_id',
 'owner_display_name',
 'owner_user_id',
 'parent_id',
 'post_type_id',
 'score',
 'tags',
 'view_count']

In [8]:
user_tb.columns.values.tolist()

['id', 'display_name', 'age', 'location']

<b>Note: </b> 

From the Part above, we know that Posts has 5594392 records and User has 10097978 results. And the column names are listed in above two cells. So We start analyzing user table individually.

In [10]:
len(user_tb[user_tb["age"].notna()])
# number of nan value in age

0

In [11]:
len(user_tb[user_tb["location"].notna()])
# number of nan value in location

2497373

In [12]:
len(user_tb[user_tb["id"].notna()])
# number of nan value in id

10097978

In [14]:
len(set(user_tb["id"].values.tolist()))
# check distinct number of id

10097978

In [15]:
2497373/10097978

0.24731416527150288

<b>Note:</b>

<b>From the above code we could know that</b> 

* all age information is missing
* about 24.7% information is missing
* each user has an individual id, which means his/her id is distinct to the others
* we do not consider display name information in this experiment

We drop age and display name now for further process

In [3]:
user_tb.drop(["age","display_name"] , axis = 1, inplace = True)

In [4]:
user_tb.head()

        id                    location
0   431965                 Netherlands
1  5503898                    Portugal
2  8823852        Kochi, Kerala, India
3  6432429  Seattle, WA, United States
4  1654841                 Pune, India

<b>Note:</b>

Then, we want to know the distribution of user's location, so we first count the values of location

In [20]:
user_tb.location.value_counts()

India                                                                             57800
Bangalore, Karnataka, India                                                       41231
Germany                                                                           28234
Hyderabad, Telangana, India                                                       24238
Pune, Maharashtra, India                                                          23084
Chennai, Tamil Nadu, India                                                        21337
China                                                                             20185
London, United Kingdom                                                            19830
United States                                                                     17404
France                                                                            16674
Mumbai, Maharashtra, India                                                        14912
Paris, France                                                                     14874
USA                                                                               13947
Bengaluru, Karnataka, India                                                       13708
Philippines                                                                       13430
United Kingdom                                                                    12923
Indonesia                                                                         12213
Canada                                                                            11623
Singapore                                                                         11604
Delhi, India                                                                      11372
Netherlands                                                                       11361
Israel                                                                            11326
Russia                                                                            10845
Pakistan                                                                          10585
Bangalore, India                                                                  10303
Egypt                                                                             10139
Brazil                                                                            10115
Ahmedabad, Gujarat, India                                                          9661
Poland                                                                             9420
Toronto, ON, Canada                                                                9257
Iran                                                                               9159
New Delhi, Delhi, India                                                            9054
UK                                                                                 8755
New York, NY, United States                                                        8732
Australia                                                                          8726
Moscow, Russia                                                                     8543
Dhaka, Bangladesh                                                                  8525
London, UK                                                                         8455
Ukraine                                                                            7889
Noida, Uttar Pradesh, India                                                        7761
Italy                                                                              7585
Berlin, Germany                                                                    7502
Sweden                                                                             7212
Vietnam                                                                            7100
Malaysia                                                                           6779
Spain                                                                              6613
Belgium                                                                            6432
Kolkata, West Bengal, India                                                        6299
Beijing, China                                                                     6039
Chennai, India                                                                     5867
Bangladesh                                                                         5803
Bangalore                                                                          5781
San Francisco, CA                                                                  5633
San Francisco, CA, United States                                                   5454
Switzerland                                                                        5424
Turkey                                                                             5301
New York, NY, USA                                                                  5225
中国北京市Beijing Shi                                                                   5158
Pune, India                                                                        5137
İstanbul, Türkiye                                                                  5114
London                                                                             5059
Sri Lanka                                                                          4996
Hong Kong                                                                          4973
Denmark                                                                            4971
Brasil                                                                             4911
Shanghai, China                                                                    4796
Lahore, Pakistan                                                                   4781
South Africa                                                                       4781
Portugal                                                                           4754
Hyderabad, India                                                                   4753
Gurgaon, Haryana, India                                                            4741
Việt Nam                                                                           4707
Chandigarh, India                                                                  4677
Lagos, Nigeria                                                                     4652
Taiwan                                                                             4620
                                                                                  ...
province sichuan,city chengdu,china                                                   1
Whitmore Lake, MI, USA                                                                1
Bastan Massachusetts, USA.                                                            1
21 Mein Street, Springvale VIC, Australia                                             1
Kailua-Kona                                                                           1
Vorlon                                                                                1
Never A Use                                                                           1
Premnagar                                                                             1
Щёлково                                                                               1
indore,India,MP                                                                       1
CHINA WUHAN                                                                           1
Camaiore, LU, Italia                                                                  1
Maldonado Department, Uruguay                                                         1
Montefano, MC, Italia                                                                 1
chennai,INDIA                                                                         1
IRAN Tehran                                                                           1
Whitwick, United Kingdom                                                              1
Vila Carthagonova                                                                     1
Breclav, Czechia                                                                      1
United States - drinking large amounts of coffee!                                     1
英国英格兰伦敦                                                                               1
china wuxi                                                                            1
Lanja, Maharashtra, India                                                             1
4217 214th Street Southwest, Mountlake Terrace, WA, United States                     1
Sonderburg, Dänemark                                                                  1
Tolmin, Slovenija                                                                     1
Waianae, HI, USA                                                                      1
Over Mountain Men, British Colonies in the Americas                                   1
Vyškov, Česká republika                                                               1
Coarsegold, CA, United States                                                         1
Osin Compd, Opposite Total Petrol Filling Station, LegacyElectronics Store Iwo        1
Porto, Portugalia                                                                     1
Clarkson, KY, USA                                                                     1
Bijing China                                                                          1
fuzhou chaina                                                                         1
China&south korea                                                                     1
Pfäffikon, Switzerland                                                                1
Troms, Norge                                                                          1
Elkana                                                                                1
Stamford,CT                                                                           1
A site in the Web                                                                     1
Mörlenbach, Hessen, Deutschland                                                       1
Sta Rosa Laguna Philippines                                                           1
Mangalore, Karnataka                                                                  1
Ottsville, PA, United States                                                          1
Los Angeles, Kalifornija, Sjedinjene Države                                           1
Trelew Chubut Argentina                                                               1
Juinagar West, Navi Mumbai, Maharashtra, India                                        1
kofia                                                                                 1
wh                                                                                    1
Gloucester, VA 23061, United States                                                   1
Los Angeles CA.                                                                       1
296 Third Avenue Westwood, NJ 07675 US                                                1
China,HaiNan                                                                          1
Anhui,China                                                                           1
Director                                                                              1
Vladičin Han, Владичин Хан                                                            1
Granada, Great Spain                                                                  1
604 S Central Ave, Los Angeles, CA 90013, USA                                         1
Ariel,israel                                                                          1
Irving, Dallas County, TX, United States                                              1
Tehran IRAN                                                                           1
Milton, WV 25541, USA                                                                 1
Lake oswego                                                                           1
Banyoles                                                                              1
Chine Beijing Shi                                                                     1
Chałupy, Wladyslawowo, Poland                                                         1
?___?                                                                                 1
Nuance in Burlington, MA                                                              1
Abdali Boulevard, Amman, Amman Governorate, Jordan                                    1
105 Berkshire Street, MA, United States                                               1
Trivento, CB, Italia                                                                  1
Morrow, OH                                                                            1
Evansville, ON, Canada                                                                1
Maghar, ישראל                                                                         1
Name: location, Length: 173323, dtype: int64

<b>Note:</b>

We know the differnet location is 173323, but some people regisiter their information to cities, some are only countries, and the spelling are also the problem, for example, some people use "China" but some use "china". We want to learn about the distribution of countries. Country is always the last word of location information.

So we only keep the countries information and change all digit to capital and do the analysis work

In [5]:
def check_last_word(total_location):
    multiple_str = str(total_location).split(",")
    return multiple_str[-1].strip().upper()
user_tb['location'] = user_tb['location'].apply(lambda x:check_last_word(x))

In [24]:
user_tb.location.value_counts()

NAN                                                                                                     7600609
INDIA                                                                                                    396307
UNITED STATES                                                                                            195916
USA                                                                                                      134703
UNITED KINGDOM                                                                                            66256
CANADA                                                                                                    61723
GERMANY                                                                                                   57228
FRANCE                                                                                                    50314
CHINA                                                                                                     47572
AUSTRALIA                                                                                                 39195
PAKISTAN                                                                                                  37549
UK                                                                                                        33504
BRASIL                                                                                                    30101
INDONESIA                                                                                                 29525
RUSSIA                                                                                                    29439
BRAZIL                                                                                                    26490
PHILIPPINES                                                                                               26043
BANGLADESH                                                                                                25949
IRAN                                                                                                      23873
NETHERLANDS                                                                                               22519
CA                                                                                                        21464
DEUTSCHLAND                                                                                               21447
POLAND                                                                                                    19196
UKRAINE                                                                                                   19007
EGYPT                                                                                                     18457
SPAIN                                                                                                     17437
ITALY                                                                                                     16187
ISRAEL                                                                                                    15817
SWEDEN                                                                                                    15720
SOUTH AFRICA                                                                                              15187
VIETNAM                                                                                                   14838
TÜRKIYE                                                                                                   14591
POLSKA                                                                                                    14335
ITALIA                                                                                                    14000
TURKEY                                                                                                    13505
ROMANIA                                                                                                   12867
РОССИЯ                                                                                                    12622
ARGENTINA                                                                                                 12483
SINGAPORE                                                                                                 12328
SRI LANKA                                                                                                 12245
NIGERIA                                                                                                   12022
ESPAÑA                                                                                                    11767
PORTUGAL                                                                                                  11485
BELGIUM                                                                                                   10406
SWITZERLAND                                                                                               10404
IRELAND                                                                                                   10310
VIỆT NAM                                                                                                  10172
JAPAN                                                                                                     10124
MÉXICO                                                                                                     9865
MALAYSIA                                                                                                   9650
NEW ZEALAND                                                                                                9087
DENMARK                                                                                                    9033
COLOMBIA                                                                                                   8924
MEXICO                                                                                                     8667
TX                                                                                                         8093
NEPAL                                                                                                      7934
GREECE                                                                                                     7864
TAIWAN                                                                                                     7821
SOUTH KOREA                                                                                                7535
NORWAY                                                                                                     7353
AUSTRIA                                                                                                    7138
WA                                                                                                         6932
BANGALORE                                                                                                  6749
NY                                                                                                         6650
KENYA                                                                                                      6612
BULGARIA                                                                                                   6508
FINLAND                                                                                                    6074
CHILE                                                                                                      6014
NEDERLAND                                                                                                  5633
HONG KONG                                                                                                  5547
MOROCCO                                                                                                    5479
THAILAND                                                                                                   5393
LONDON                                                                                                     5393
HUNGARY                                                                                                    5259
BELARUS                                                                                                    5219
                                                                                                         ...
SECUNDERBAD                                                                                                   1
OTTAWA ONT. CANADA                                                                                            1
RAJKOT(INDIA)                                                                                                 1
EUROPE (ALL OF IT... I'M REALLY FAT)                                                                          1
PUNE-411001                                                                                                   1
MALAWI IN SOUTHERN AFRICA                                                                                     1
BUDAPEST (HUNGARY)                                                                                            1
KEPLER-62F                                                                                                    1
JALISCO. MÉXICO.                                                                                              1
THE GIBSON                                                                                                    1
ZAUR NEZEROV                                                                                                  1
STATESIDE                                                                                                     1
518129                                                                                                        1
SOUTH PACIFIC. SOME ISLAND IN THE MIDDLE OF...                                                                1
CRYPTON                                                                                                       1
1"--/SCRIPTSVG/ONLOAD=';ALERT(0);'                                                                            1
115B YISHUN RING ROAD SINGAPORE                                                                               1
SAMEHAYMAN                                                                                                    1
AT NOWSHERA                                                                                                   1
中国HUBEI武汉市武昌区HUAZHONG UNIVERSITY YUYUAN                                                                       1
A LITTLE TOO CLOSE TO THE SCREEN                                                                              1
SXB                                                                                                           1
بريكة، ALGÉRIE                                                                                                1
WEATHERFORD TX                                                                                                1
THE SILENT HILLS                                                                                              1
ZGSZ                                                                                                          1
SHANGHAI CITY                                                                                                 1
105.8369637                                                                                                   1
HAWTHORNE                                                                                                     1
67);                                                                                                          1
GHANA/NIGERIA                                                                                                 1
BUSHEHR                                                                                                       1
대한민국 GYEONGGI-DO SUWON                                                                                        1
TX 75248                                                                                                      1
ALPS SWITZERLAND                                                                                              1
IT IS EVERYWHERE YOU'VE EVER BEEN.                                                                            1
ABANIA                                                                                                        1
COMINBATORE                                                                                                   1
432 ĐƯỜNG PHẠM THẾ HIỂN PHƯỜNG 4 QUẬN 8 THÀNH PHỐ HỒ CHÍ MINH.                                                1
29TH                                                                                                          1
MSP MN                                                                                                        1
IIIT HYDERABAD                                                                                                1
DA NANG VIET NAM                                                                                              1
MKK                                                                                                           1
QAMINIS                                                                                                       1
BARKING UK                                                                                                    1
DID YOU KNOW THAT OPINION OUTPOST OFFERS PAID ONLINE SURVEYS IN 7 DIFFERENT COUNTRIES AROUND THE WOR          1
AL 36460                                                                                                      1
OKLAHOMA UNITED STATES                                                                                        1
CASTLE ROCK & KEYSTONE COLORADO                                                                               1
BCN / ATH                                                                                                     1
WISLEY - SURREY - UK                                                                                          1
97007                                                                                                         1
CHALGROVE                                                                                                     1
STOCKHLOM                                                                                                     1
BELLHILL                                                                                                      1
ON THE COMPUTER                                                                                               1
WHERE THE WORLD ONCE STOOD                                                                                    1
SHERKAT MASOUM                                                                                                1
COLUMBUS OHIO USA                                                                                             1
IT CAN BE EVERYWHERE...                                                                                       1
宿雾菲律宾                                                                                                         1
VALLEY                                                                                                        1
CHITRAL PAKISTAN                                                                                              1
YI                                                                                                            1
中国广东省广州市天河区壬丰大厦                                                                                               1
DUKES                                                                                                         1
PITTSFIELD                                                                                                    1
INDIA BANGALORE                                                                                               1
TYOKO JAPAN                                                                                                   1
LISBOM                                                                                                        1
DUBLIN 2 D02 YK19 IRELAND                                                                                     1
MACERATA                                                                                                      1
EKWADOR                                                                                                       1
XVIDEOS                                                                                                       1
Name: location, Length: 48932, dtype: int64

In [26]:
(396307+195916+134703+66256+61723+57228+50314+47572+39195+37549+33504+30101)/(10097978-7600609)

0.4606319690842643

<b>Note:</b>

We could know that Except for missing values the top 10 user comes from, about 46% of the recorded users:

India, United States/USA, United Kingdom/UK, Canada, Germany, France, China, Australia, PAKISTAN, BRASIL


So the company should put more information on business of the district above

We the focus on post information

Before we move on to next step. Because we have already analysis the user table, we left join two tables on "owner_user_id". (There are 2 user id in posts columns, the othe is "last_editor_user_id", but last editor could be randomly, and it is more meaningful to analysis on owner user behavior)

In [6]:
def to_int(x):
    if math.isnan(x):
        return -1
    else:
        return int(x)
# owner user is float, so we need to transfer it into int

In [7]:
post_tb['owner_user_id2'] = post_tb['owner_user_id'].apply(lambda x:to_int(x))
user_tb.rename(columns = {'id':'owner_user_id2'},inplace = True)
post_tb = pd.merge(post_tb,user_tb,how = 'left',on = 'owner_user_id2')

In [8]:
post_tb.drop(["owner_user_id2"] , axis = 1, inplace = True)
post_tb
# .drop(["Unnamed: 0"] , axis = 1, inplace = True)

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,location
0,34016263,Real alternative for Google Feed API,NaN,0.0,13,NaN,2015-12-01 08:55:53.743 UTC,9.0,2015-12-04 11:52:25.647 UTC,2015-12-04 11:52:25.647 UTC,NaN,4671020.0,NaN,4671020.0,NaN,1,15,javascript|php|json|rss|google-feed-api,4240.0,NAN
1,28321638,Strongly Typed RedirectToAction (Futures) usin...,NaN,0.0,4,NaN,2015-02-04 12:38:37.197 UTC,3.0,2015-02-04 12:38:37.197 UTC,NaN,NaN,NaN,NaN,826568.0,NaN,1,4,c#|asynchronous|asp.net-mvc-5|asp.net-mvc-futures,425.0,URUGUAY
2,34054617,Magento 2 installing language packs (nl_NL tra...,34055069.0,1.0,0,NaN,2015-12-02 22:50:38.273 UTC,3.0,2015-12-17 08:06:23.237 UTC,2015-12-11 03:52:32.467 UTC,NaN,1364007.0,NaN,3215647.0,NaN,1,2,magento|magento2|magento-2.0,2938.0,NETHERLANDS
3,27836577,How to mock a tornado coroutine function using...,27880772.0,1.0,0,NaN,2015-01-08 09:17:39.027 UTC,3.0,2015-01-10 20:15:07.26 UTC,2015-01-08 09:22:43.9 UTC,NaN,324490.0,NaN,324490.0,NaN,1,9,python|unit-testing|mocking|tornado,2035.0,TAIWAN
4,32064375,Magnet pattern and overloaded methods,32068645.0,1.0,0,NaN,2015-08-18 05:42:56.653 UTC,5.0,2015-08-18 09:31:58.83 UTC,2015-08-18 06:16:52.367 UTC,NaN,554460.0,NaN,554460.0,NaN,1,13,scala|implicit,464.0,CA
5,32425466,Load More After Coming to Bottom of UITableView,32427558.0,1.0,1,NaN,2015-09-06 16:00:50.787 UTC,4.0,2015-09-06 21:40:49.48 UTC,2015-09-06 21:40:49.48 UTC,NaN,1630618.0,NaN,4968259.0,NaN,1,2,ios|swift|uitableview|uirefreshcontrol,2256.0,NAN
6,30952612,Include and reference an image in react with w...,30955078.0,1.0,1,NaN,2015-06-20 09:51:59.567 UTC,3.0,2015-06-20 15:51:39.36 UTC,2015-06-20 10:18:18.073 UTC,NaN,1460461.0,NaN,1460461.0,NaN,1,4,javascript|reactjs|webpack|singlepage,661.0,EARTH
7,34498830,Decode X-JWT-Assertion using axiom-api in java,34499026.0,1.0,2,NaN,2015-12-28 18:34:44.47 UTC,4.0,2015-12-28 19:02:02.787 UTC,2015-12-28 19:02:02.787 UTC,user5268786,NaN,user5268786,NaN,NaN,1,2,java|jwt,120.0,ON THE SERVER FARM
8,30383404,What is data type for Python Keras deep learni...,30384484.0,1.0,2,NaN,2015-05-21 20:08:14.43 UTC,4.0,2015-05-23 07:07:46.047 UTC,2015-05-23 07:07:46.047 UTC,NaN,1421925.0,NaN,2991243.0,NaN,1,2,python|theano|keras,468.0,NAN
9,30714031,Tuple hell with many Slick joins,30715232.0,1.0,2,NaN,2015-06-08 16:03:34.973 UTC,5.0,2015-09-27 03:04:44.217 UTC,2015-09-27 03:04:44.217 UTC,NaN,1677912.0,NaN,722180.0,NaN,1,5,slick|code-smell,520.0,UNITED KINGDOM
10,30474538,Possible to show console messages (written wit...,NaN,1.0,2,NaN,2015-05-27 06:17:58.957 UTC,4.0,2016-01-26 09:46:23.243 UTC,2015-07-24 23:02:13.38 UTC,NaN,3943160.0,NaN,3943160.0,NaN,1,7,r|shiny|shinyjs,755.0,CANADA
11,34546446,Flattening TypeScript typings or interfaces?,34627194.0,1.0,2,NaN,2015-12-31 12:18:07.523 UTC,3.0,2016-01-06 06:46:32.78 UTC,2015-12-31 12:38:13.553 UTC,NaN,553609.0,NaN,553609.0,NaN,1,8,typescript|angular2|definitelytyped,379.0,DENMARK
12,28758173,Integrate Swift framework to objective-c appli...,28759568.0,1.0,3,NaN,2015-02-27 05:30:25.173 UTC,4.0,2015-02-27 07:19:26.06 UTC,2015-02-27 05:55:22.65 UTC,NaN,972987.0,NaN,972987.0,NaN,1,3,ios|objective-c|swift,113.0,NAN
13,27826508,Create all possible combiations of 01 or 2 1 s...,27826832.0,1.0,4,NaN,2015-01-07 18:48:58.86 UTC,3.0,2015-01-07 19:28:17.777 UTC,2015-01-07 19:28:17.777 UTC,NaN,3386515.0,NaN,3386515.0,NaN,1,6,r,292.0,NAN
14,28674344,Windows Service fails to start interactive pro...,29108808.0,1.0,14,NaN,2015-02-23 12:57:19.627 UTC,3.0,2015-03-17 20:12:42.823 UTC,2015-03-17 09:04:04.127 UTC,NaN,3975223.0,NaN,3975223.0,NaN,1,2,c#|windows|windows-services|interopservices,773.0,INDIA
15,30523118,How to Upload gif files to parse in android as...,NaN,1.0,0,NaN,2015-05-29 06:59:37.96 UTC,3.0,2015-05-29 09:24:44.49 UTC,NaN,NaN,NaN,NaN,3449307.0,NaN,1,1,android|image|parse.com|bitmap|gif,173.0,INDIA
16,33034930,How to use angular2 DynamicComponentLoader in ...,33036634.0,1.0,0,NaN,2015-10-09 09:41:56.277 UTC,4.0,2015-10-09 11:25:10.823 UTC,NaN,NaN,NaN,NaN,1768008.0,NaN,1,4,dependency-injection|angular2,2957.0,NAN
17,28917651,Building a Cocoapod with Swift and dependency ...,28937580.0,1.0,0,NaN,2015-03-07 17:16:48.253 UTC,3.0,2015-03-09 08:15:32.847 UTC,NaN,NaN,NaN,NaN,145997.0,NaN,1,9,ios|swift|cocoapods|google-maps-sdk-ios|lint,3798.0,FRANCE
18,28949722,Android tests fail on Travis with ShellCommand...,28949723.0,1.0,0,NaN,2015-03-09 18:57:39.667 UTC,6.0,2016-03-14 14:38:32.63 UTC,NaN,NaN,NaN,NaN,937715.0,NaN,1,13,android|travis-ci,3269.0,FL
19,28108107,How to create a Row from a List or Array in Sp...,28112017.0,2.0,0,NaN,2015-01-23 10:43:50.74 UTC,4.0,2015-10-08 09:43:41.113 UTC,2015-10-08 09:43:41.113 UTC,NaN,3505666.0,NaN,3505666.0,NaN,1,5,scala|apache-spark|apache-spark-sql,7543.0,NAN
20,32973743,Making Bootstrap modal resizable with jQuery U...,32974096.0,2.0,0,NaN,2015-10-06 15:23:38.693 UTC,3.0,2015-10-06 15:52:26.003 UTC,2015-10-06 15:52:26.003 UTC,NaN,2641347.0,NaN,3618473.0,NaN,1,5,javascript|jquery|css|twitter-bootstrap|jquery-ui,3228.0,USA
21,27762236,Line Breaks and Number of Lines in Swift Label...,27762296.0,2.0,0,NaN,2015-01-04 04:03:13.95 UTC,3.0,2015-07-02 08:52:03.477 UTC,2015-01-04 04:32:45.347 UTC,NaN,1226963.0,NaN,2988919.0,NaN,1,6,ios|swift|uilabel,12042.0,USA
22,31402531,Google IAP returns short purchase token for ve...,NaN,2.0,1,NaN,2015-07-14 09:17:00.043 UTC,4.0,2016-02-14 07:24:12.44 UTC,2016-02-14 07:24:12.44 UTC,NaN,3565972.0,NaN,3410110.0,NaN,1,9,android|in-app-purchase|google-play|in-app-bil...,549.0,CZECH REPUBLIC
23,31377629,Git always ask passphrase for key,31377778.0,2.0,2,NaN,2015-07-13 07:28:35.947 UTC,3.0,2015-07-13 08:04:44.073 UTC,2015-07-13 08:03:54.947 UTC,NaN,4344085.0,NaN,4344085.0,NaN,1,1,git|github,111.0,VIETNAM
24,30109169,Create FullPage Screenshot WebDriver,30109451.0,2.0,2,NaN,2015-05-07 18:40:22.217 UTC,3.0,2015-05-08 06:58:21.78 UTC,2015-05-07 20:28:59.673 UTC,NaN,4876278.0,NaN,4876278.0,NaN,1,2,selenium|selenium-webdriver|webdriver,166.0,NAN
25,31353299,Swift Dictionary slow even with optimizations:...,31621515.0,2.0,7,NaN,2015-07-11 04:09:03.21 UTC,4.0,2015-08-18 15:21:57.19 UTC,2015-07-25 00:12:33.727 UTC,NaN,74975.0,NaN,74975.0,NaN,1,7,performance|swift|swift2,1000.0,NAN
26,30473652,Cordova/Phonegap iOS Parse-Push Plugin,NaN,2.0,7,NaN,2015-05-27 05:11:24.467 UTC,4.0,2015-10-20 18:52:15.92 UTC,2015-05-27 10:31:49.723 UTC,NaN,2288978.0,NaN,2288978.0,NaN,1,9,ios|cordova|parse.com|apple-push-notifications,2426.0,HYDERABAD
27,32419510,How to get reproducible results in keras,NaN,2.0,8,NaN,2015-09-06 02:41:11.5 UTC,4.0,2016-04-27 11:44:02.84 UTC,2015-09-15 18:04:52.207 UTC,NaN,1245190.0,NaN,579980.0,NaN,1,21,python|numpy|theano|keras,1002.0,CA
28,31346267,What is the need and use of <mvc:default-servl...,31349904.0,2.0,0,NaN,2015-07-10 16:52:03.79 UTC,4.0,2016-03-21 04:51:23.483 UTC,NaN,NaN,NaN,NaN,840842.0,NaN,1,10,spring|spring-mvc,4495.0,INDIA
29,32822101,How to programmatically open the Permission Sc...,32822298.0,3.0,0,NaN,2015-09-28 11:40:08.167 UTC,23.0,2016-02-17 12:41:46.903 UTC,2015-09-28 12:10:53.297 UTC,NaN,4687413.0,NaN,4687413.0,NaN,1,53,android|android-permissions|android-6.0-marshm...,10528.0,GERMANY
30,29090692,How is ambiguity determined in the overload re...,29090792.0,3.0,5,NaN,2015-03-17 03:12:09.153 UTC,13.0,2015-07-11 18:42:43.23 UTC,2015-03-17 13:12:12.03 UTC,NaN,285235.0,NaN,4013034.0,NaN,1,60,c++|overload-resolution,1572.0,NAN
31,32955560,Difference between '01' and '1' in a JavaScrip...,32955702.0,3.0,8,NaN,2015-10-05 18:37:55.637 UTC,6.0,2015-10-06 10:25:06.423 UTC,2015-10-06 10:21:12.877 UTC,NaN,63550.0,NaN,2624249.0,NaN,1,22,javascript,1155.0,URUGUAY
32,29361552,Android List View with BaseAdapter Drag and Dr...,29598924.0,4.0,2,NaN,2015-03-31 05:56:43.253 UTC,3.0,2016-03-24 08:40:29.307 UTC,2015-03-31 06:36:16.773 UTC,NaN,2724626.0,NaN,2724626.0,NaN,1,2,android|listview|android-listview|drag-and-drop,2507.0,INDIA
33,28270282,What is the best way to check if a UIAlertCont...,28270308.0,4.0,2,NaN,2015-02-02 02:19:50.76 UTC,5.0,2016-03-30 05:27:22.94 UTC,2015-02-02 02:39:57.033 UTC,NaN,4304022.0,NaN,4304022.0,NaN,1,26,ios|uialertcontroller,12062.0,NAN
34,28765806,Existing Google Analytics events and Google Ta...,28810920.0,4.0,2,NaN,2015-02-27 13:03:31.47 UTC,4.0,2016-02-10 19:57:46.267 UTC,NaN,NaN,NaN,NaN,1603382.0,NaN,1,9,google-analytics|google-tag-manager|universal-...,3006.0,NAN
35,28359851,how to install android studio full offline,33383940.0,5.0,0,NaN,2015-02-06 06:31:24.667 UTC,3.0,2015-12-02 05:31:20.863 UTC,2015-02-06 06:41:43.397 UTC,NaN,3857653.0,NaN,3857653.0,NaN,1,5,android|android-studio,15840.0,BANGLADESH
36,29653927,Green images when doing a JPEG encoding from Y...,NaN,6.0,3,NaN,2015-04-15 15:08:06.45 UTC,5.0,2016-03-10 16:11:59.76 UTC,2015-04-16 10:10:18.137 UTC,NaN,4791005.0,NaN,4791005.0,NaN,1,5,android|android-camera|android-5.0-lollipop|rg...,1745.0,NAN
37,28932281,What is wrong with my SQL here? #1089 - Incorr...,NaN,6.0,4,NaN,2015-03-08 21:47:00.083 UTC,5.0,2016-05-23 12:59:45.823 UTC,2015-08-19 15:18:36.313 UTC,NaN,624664.0,NaN,3058860.0,NaN,1,21,mysql|sql,33031.0,CANADA
38,28338935,NaN,NaN,NaN,0,NaN,2015-02-05 08:02:54.75 UTC,NaN,2015-03-06 10:01:09.3 UTC,2015-03-06 10:01:09.3 UTC,NaN,3669624.0,NaN,3669624.0,NaN,4,0,NaN,NaN,BELGIUM
39,30407942,NaN,NaN,NaN,0,NaN,2015-05-23 01:18:53.227 UTC,NaN,2015-05-23 01:38:13.613 UTC,2015-05-23 01:38:13.613 UTC,NaN,1118719.0,NaN,1118719.0,16681383.0,2,0,NaN,NaN,TAIWAN
40,28959043,NaN,NaN,NaN,0,NaN,2015-03-10 08:27:10.08 UTC,NaN,2015-03-10 21:48:45.263 UTC,2015-03-10 21:48:45.263 UTC,NaN,1966477.0,NaN,1966477.0,28958902.0,2,0,NaN,NaN,NAN
41,31117150,NaN,NaN,NaN,0,NaN,2015-06-29 13:35:44.823 UTC,NaN,2015-06-29 14:10:25.373 UTC,2015-06-29 14:10:25.373 UTC,NaN,3393505.0,NaN,5057807.0,11659834.0,2,0,NaN,NaN,NAN
42,27875362,NaN,NaN,NaN,0,NaN,2015-01-10 10:50:32.493 UTC,NaN,2015-01-10 13:01:45.3 UTC,2015-01-10 13:01:45.3 UTC,NaN,1421925.0,NaN,1421925.0,NaN,5,0,NaN,NaN,SWEDEN
43,29449221,NaN,NaN,NaN,0,NaN,2015-04-04 17:13:27.147 UTC,NaN,2015-04-04 18:37:13.507 UTC,2015-04-04 18:37:13.507 UTC,NaN,3810364.0,NaN,3810364.0,29447691.0,2,0,NaN,NaN,WORK REMOTELY
44,29609368,NaN,NaN,NaN,0,NaN,2015-04-13 15:35:54.01 UTC,NaN,2015-04-14 01:02:59.833 UTC,2015-04-14 01:02:59.833 UTC,NaN,1979001.0,NaN,4779680.0,29609069.0,2,0,NaN,NaN,INDIA
45,29967813,NaN,NaN,NaN,0,NaN,2015-04-30 12:29:59.547 UTC,NaN,2015-04-30 12:35:59.92 UTC,2015-04-30 12:35:59.92 UTC,NaN,2184364.0,NaN,2184364.0,29967115.0,2,0,NaN,NaN,NAN
46,33385549,NaN,NaN,NaN,0,NaN,2015-10-28 07:48:44.4 UTC,NaN,2015-10-28 08:18:46.853 UTC,2015-10-28 08:18:46.853 UTC,NaN,2200659.0,NaN,5496876.0,33384344.0,2,0,NaN,NaN,USA
47,27849234,NaN,NaN,NaN,0,NaN,2015-01-08 20:48:38.947 UTC,NaN,2015-01-08 21:29:16.1 UTC,2015-01-08 21:29:16.1 UTC,NaN,74350.0,NaN,74350.0,6032089.0,2,0,NaN,NaN,CANADA
48,32202224,NaN,NaN,NaN,0,NaN,2015-08-25 10:58:10.843 UTC,NaN,2015-08-25 11:23:15.16 UTC,2015-08-25 11:23:15.16 UTC,NaN,1645490.0,NaN,1645490.0,32200702.0,2,0,NaN,NaN,NETHERLANDS
49,28723575,NaN,NaN,NaN,0,NaN,2015-02-25 15:56:18.23 UTC,NaN,2015-02-25 17:08:51.787 UTC,2015-02-25 17:08:51.787 UTC,NaN,4343318.0,NaN,4343318.0,28723353.0,2,0,NaN,NaN,MÉXICO
50,29045865,NaN,NaN,NaN,0,NaN,2015-03-14 05:42:44.48 UTC,NaN,2015-03-20 20:25:46.25 UTC,2015-03-20 20:25:46.25 UTC,NaN,363437.0,NaN,363437.0,19966482.0,2,0,NaN,NaN,SWEDEN
51,30815435,NaN,NaN,NaN,0,NaN,2015-06-13 05:29:15.177 UTC,NaN,2015-06-13 06:49:39.933 UTC,2015-06-13 06:49:39.933 UTC,NaN,2109233.0,NaN,2109233.0,30815282.0,2,0,NaN,NaN,EARTH
52,28740787,NaN,NaN,NaN,0,NaN,2015-02-26 11:06:45.903 UTC,NaN,2015-02-26 14:15:25.65 UTC,2015-02-26 14:15:25.65 UTC,NaN,1362568.0,NaN,1362568.0,28724965.0,2,0,NaN,NaN,UK
53,30400863,NaN,NaN,NaN,0,NaN,2015-05-22 15:43:07.47 UTC,NaN,2015-05-22 16:04:26.563 UTC,2015-05-22 16:04:26.563 UTC,NaN,3894168.0,NaN,3894168.0,30400732.0,2,0,NaN,NaN,INDIA
54,30259051,NaN,NaN,NaN,0,NaN,2015-05-15 12:02:16.5 UTC,NaN,2015-05-15 12:10:07.497 UTC,2015-05-15 12:10:07.497 UTC,NaN,1116549.0,NaN,4202119.0,30258808.0,2,0,NaN,NaN,INDIA
55,31486520,NaN,NaN,NaN,0,NaN,2015-07-18 00:17:57.243 UTC,NaN,2015-07-18 00:28:09.307 UTC,2015-07-18 00:28:09.307 UTC,NaN,4084714.0,NaN,4084714.0,31486431.0,2,0,NaN,NaN,NAN
56,30354035,NaN,NaN,NaN,0,NaN,2015-05-20 15:26:40.427 UTC,NaN,2015-05-20 16:23:13.93 UTC,2015-05-20 16:23:13.93 UTC,NaN,2101909.0,NaN,2101909.0,30349732.0,2,0,NaN,NaN,NAN
57,29318041,NaN,NaN,NaN,0,NaN,2015-03-28 14:02:53.897 UTC,NaN,2015-03-28 14:20:27.537 UTC,2015-03-28 14:20:27.537 UTC,NaN,521364.0,NaN,521364.0,29318000.0,2,0,NaN,NaN,HONG KONG
58,29754383,NaN,NaN,NaN,0,NaN,2015-04-20 17:23:40.48 UTC,NaN,2015-04-20 17:44:47.3 UTC,2015-04-20 17:44:47.3 UTC,NaN,1061668.0,NaN,1061668.0,29753111.0,2,0,NaN,NaN,FINLAND
59,29723602,NaN,NaN,NaN,0,NaN,2015-04-18 22:24:32.943 UTC,NaN,2015-04-18 22:38:36.507 UTC,2015-04-18 22:38:36.507 UTC,NaN,2365792.0,NaN,2365792.0,29720413.0,2,0,NaN,NaN,UNITED KINGDOM
60,29529807,NaN,NaN,NaN,0,NaN,2015-04-09 04:31:00.833 UTC,NaN,2015-06-24 07:00:00.037 UTC,2015-06-24 07:00:00.037 UTC,NaN,1861613.0,NaN,1861613.0,16254181.0,2,0,NaN,NaN,NAN
61,32273583,NaN,NaN,NaN,0,NaN,2015-08-28 14:37:39.04 UTC,NaN,2015-08-28 14:54:26.043 UTC,2015-08-28 14:54:26.043 UTC,NaN,5171219.0,NaN,5171219.0,32272860.0,2,0,NaN,NaN,THAILAND
62,31869906,NaN,NaN,NaN,0,NaN,2015-08-07 04:52:42.23 UTC,NaN,2015-08-07 05:24:56.063 UTC,2015-08-07 05:24:56.063 UTC,NaN,1878022.0,NaN,1878022.0,31869511.0,2,0,NaN,NaN,JAPAN
63,31696155,NaN,NaN,NaN,0,NaN,2015-07-29 09:15:38.923 UTC,NaN,2015-07-29 12:19:20.61 UTC,2015-07-29 12:19:20.61 UTC,NaN,2266904.0,NaN,2266904.0,31672342.0,2,0,NaN,NaN,ISRAEL
64,32178373,NaN,NaN,NaN,0,NaN,2015-08-24 09:06:37.087 UTC,NaN,2015-08-24 09:14:10.42 UTC,2015-08-24 09:14:10.42 UTC,NaN,5235670.0,NaN,5235670.0,32053656.0,2,0,NaN,NaN,NAN
65,33101945,NaN,NaN,NaN,0,NaN,2015-10-13 11:49:27.68 UTC,NaN,2015-10-13 12:40:11.04 UTC,2015-10-13 12:40:11.04 UTC,NaN,284240.0,NaN,284240.0,33101825.0,2,0,NaN,NaN,CODE DESERT
66,33559435,NaN,NaN,NaN,0,NaN,2015-11-06 04:20:43.463 UTC,NaN,2015-11-06 04:44:16.787 UTC,2015-11-06 04:44:16.787 UTC,NaN,5509676.0,NaN,5509676.0,33556600.0,2,0,NaN,NaN,POZNAŃ
67,32610292,NaN,NaN,NaN,0,NaN,2015-09-16 13:40:04.39 UTC,NaN,2015-09-16 13:45:04.99 UTC,2015-09-16 13:45:04.99 UTC,NaN,2908724.0,NaN,2908724.0,32609904.0,2,0,NaN,NaN,UNITED STATES
68,34074113,NaN,NaN,NaN,0,NaN,2015-12-03 19:03:31.297 UTC,NaN,2016-05-06 13:57:05.07 UTC,2016-05-06 13:57:05.07 UTC,NaN,5627177.0,NaN,5627177.0,34071715.0,2,0,NaN,NaN,USA
69,34435132,NaN,NaN,NaN,0,NaN,2015-12-23 11:53:22.973 UTC,NaN,2015-12-23 12:23:43.423 UTC,2015-12-23 12:23:43.423 UTC,NaN,4593390.0,NaN,5377161.0,4546856.0,2,0,NaN,NaN,CV
70,27998900,NaN,NaN,NaN,0,NaN,2015-01-17 11:18:53.607 UTC,NaN,2015-01-17 11:18:53.607 UTC,2015-01-17 11:18:53.607 UTC,NaN,-1.0,NaN,-1.0,NaN,5,0,NaN,NaN,ON THE SERVER FARM
71,28933466,NaN,NaN,NaN,0,NaN,2015-03-09 00:12:19.3 UTC,NaN,2015-03-09 08:25:04.33 UTC,2015-03-09 08:25:04.33 UTC,NaN,2587435.0,NaN,2587435.0,28932380.0,2,0,NaN,NaN,UNITED STATES
72,29815407,NaN,NaN,NaN,0,NaN,2015-04-23 06:29:59.747 UTC,NaN,2015-04-23 07:19:50.283 UTC,2015-04-23 07:19:50.283 UTC,NaN,2958272.0,NaN,4822733.0,28961943.0,2,0,NaN,NaN,NAN
73,31567468,NaN,NaN,NaN,0,NaN,2015-07-22 15:24:22.35 UTC,NaN,2015-07-22 16:41:27.253 UTC,2015-07-22 16:41:27.253 UTC,NaN,42737.0,NaN,42737.0,31530014.0,2,0,NaN,NaN,NAN
74,30417343,NaN,NaN,NaN,0,NaN,2015-05-23 20:37:37.017 UTC,NaN,2015-05-23 21:09:48.06 UTC,2015-05-23 21:09:48.06 UTC,NaN,372709.0,NaN,372709.0,30296789.0,2,0,NaN,NaN,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594317,30628316,How to merge two same object in Angular JS?,30628358.0,1.0,1,NaN,2015-06-03 18:51:59.2 UTC,2.0,2015-09-14 21:06:13.33 UTC,2015-09-14 21:06:13.33 UTC,NaN,2435473.0,NaN,4950082.0,NaN,1,1,javascript|angularjs,68.0,NAN
5594318,33307300,Find nearest proportions algorithm,33307545.0,1.0,1,NaN,2015-10-23 16:31:50.57 UTC,2.0,2015-10-23 16:46:07.117 UTC,2015-10-23 16:45:47.273 UTC,NaN,219931.0,NaN,219931.0,NaN,1,2,javascript|algorithm|sorting,44.0,BELARUS
5594319,29682969,Spring Hibernate Repository Testing with jUnit,29683155.0,1.0,1,NaN,2015-04-16 18:20:57.49 UTC,2.0,2015-04-19 06:13:57.693 UTC,2015-04-19 06:13:57.693 UTC,NaN,2655362.0,NaN,2655362.0,NaN,1,2,java|spring|hibernate|spring-mvc|junit,1703.0,NAN
5594320,31963816,Video Capture with UPLOAD for Windows 10+ Mobile,NaN,1.0,1,NaN,2015-08-12 11:24:03.097 UTC,2.0,2015-08-25 20:29:16.977 UTC,2015-08-12 12:52:47.247 UTC,NaN,640307.0,NaN,640307.0,NaN,1,5,internet-explorer|video|file-upload|microsoft-...,172.0,IRELAND
5594321,28965610,Cannot find an outgoing row head for incoming ...,28968719.0,1.0,1,NaN,2015-03-10 13:54:12.517 UTC,2.0,2015-03-10 16:12:53.65 UTC,2015-03-10 16:11:47.507 UTC,NaN,429249.0,NaN,429249.0,NaN,1,8,ios|uibutton|autolayout,3224.0,NAN
5594322,31582548,java Fork/Join pool ExecutorService and CountD...,33602810.0,1.0,2,NaN,2015-07-23 08:54:11.17 UTC,2.0,2016-05-05 12:40:54.057 UTC,2016-01-18 11:03:55.947 UTC,NaN,4999394.0,NaN,4999394.0,NaN,1,1,java|multithreading|executorservice|countdownl...,406.0,INDIA
5594323,29076628,How to change action bar background on click o...,29078865.0,1.0,2,NaN,2015-03-16 12:17:43.753 UTC,2.0,2015-03-16 15:59:58.213 UTC,2015-03-16 13:08:26.747 UTC,NaN,-1.0,NaN,1992954.0,NaN,1,3,android|android-actionbar|searchview,797.0,NAN
5594324,28552765,Laravel search 'LIKE' query in two tables,NaN,1.0,2,NaN,2015-02-17 00:30:11.163 UTC,2.0,2015-02-17 10:34:00.807 UTC,2015-02-17 00:40:16.34 UTC,NaN,3614835.0,NaN,4467139.0,NaN,1,3,php|sql|search|laravel|eloquent,4897.0,NAN
5594325,31756273,What is the proper syntax for using a property...,31758058.0,1.0,3,NaN,2015-07-31 22:43:58.33 UTC,2.0,2015-08-01 14:20:59.877 UTC,2015-07-31 22:49:48.2 UTC,NaN,293723.0,NaN,293723.0,NaN,1,2,properties|swift2,143.0,VA
5594326,30005168,css columns responsive design,NaN,1.0,6,NaN,2015-05-02 17:13:13.973 UTC,2.0,2015-05-04 19:39:26.267 UTC,2015-05-04 19:39:26.267 UTC,NaN,2601230.0,NaN,2601230.0,NaN,1,1,html|css|css3|responsive-design,60.0,NAN
5594327,34486646,Fourier Transform and Image Compression,34487211.0,1.0,7,NaN,2015-12-28 01:21:50.123 UTC,2.0,2015-12-28 05:22:21.797 UTC,2015-12-28 05:22:21.797 UTC,NaN,1180620.0,NaN,5469190.0,NaN,1,1,image-processing|compression|jpeg|fft|dct,63.0,NaN
5594328,28211234,Hadoop-2.6.0 Authorization not working for MR ...,30365549.0,1.0,0,NaN,2015-01-29 09:34:37.103 UTC,2.0,2015-05-21 05:51:23.073 UTC,NaN,NaN,NaN,NaN,3496666.0,NaN,1,1,security|hadoop|authorization|kerberos,84.0,INDIA
5594329,30935559,Proximity state not changing after receiving n...,31073414.0,1.0,0,NaN,2015-06-19 10:13:11.267 UTC,2.0,2015-06-26 12:39:17.74 UTC,NaN,NaN,NaN,NaN,1161962.0,NaN,1,1,ios|iphone|swift,127.0,NAN
5594330,33780618,Stack ADT (Abstract Data Type) implementation-...,33865411.0,1.0,0,NaN,2015-11-18 12:53:09.073 UTC,2.0,2015-11-23 17:20:41.283 UTC,NaN,NaN,NaN,NaN,3879805.0,NaN,1,2,java|arrays|collections|linked-list|stack,78.0,INDIA
5594331,30158596,How to convert JSON-string to Binary using a R...,30180396.0,1.0,0,NaN,2015-05-11 01:51:25.837 UTC,2.0,2015-05-12 01:47:24.79 UTC,NaN,NaN,NaN,NaN,4728144.0,NaN,1,3,powerquery,299.0,RUSSIA
5594332,31362679,Open navigation drawer on swipe (Material Desi...,31375839.0,1.0,0,NaN,2015-07-11 22:57:29.547 UTC,2.0,2015-07-13 10:48:51.97 UTC,NaN,NaN,NaN,NaN,2995161.0,NaN,1,8,javascript|jquery|swipe-gesture|material-desig...,1119.0,NEW ZEALAND
5594333,27903296,Configuring IntelliJ so it takes a specific co...,27906198.0,1.0,0,NaN,2015-01-12 13:38:39.36 UTC,2.0,2015-01-12 16:10:06.013 UTC,NaN,NaN,NaN,NaN,2430043.0,NaN,1,8,intellij-idea|playframework|functional-testing,474.0,FRANCE

<b>Note:</b>

We first do statistical work on "answer_count", "comment_count", "favorite_count" and "view_count"

For "answer_count", it is also good to analysis it with accepted situation, i.e. accepted_answer_id

In [40]:
def cal_per(df):
    return len(df)/5594392
print("No anwser ratio "+str(cal_per(post_tb[post_tb["answer_count"].isnull()])))
print("1 anwser ratio "+str(cal_per(post_tb[post_tb["answer_count"]==1])))
print("2 anwser ratio "+str(cal_per(post_tb[post_tb["answer_count"]==2])))
print("0 anwser ratio "+str(cal_per(post_tb[post_tb["answer_count"]==0])))
print("More than 2 anwser ratio "+str(cal_per(post_tb[post_tb["answer_count"]>2])))

No anwser ratio 0.5730241999488058
1 anwser ratio 0.21894926204670678
2 anwser ratio 0.08189504775496605
0 anwser ratio 0.08764455547626981
More than 2 anwser ratio 0.0384869347732515

We could see that about 57.3% posts do not have anwser and 8.7% posts have 0 anwser

The most anwser have 1 or 2 anwser, about 30% of the results

In [46]:
print("Have more than 0 anwser but not accepted "+str(cal_per(post_tb[post_tb["accepted_answer_id"].isnull() & post_tb["answer_count"].notna()& post_tb["answer_count"]!=0])))

Have more than 0 anwser but not accepted 0.14707603614476783

We could see about 14.7% of the posts have anwsers, and anwser is not 0, but no anwsers. Company should focus on this question and find out the solution of anwser acceptance

In [48]:
post_tb[["id","answer_count"]].groupby("answer_count").count().reset_index()

    answer_count       id
0            0.0   490318
1            1.0  1224888
2            2.0   458153
3            3.0   144901
4            4.0    46648
5            5.0    15374
6            6.0     5102
7            7.0     1853
8            8.0      713
9            9.0      300
10          10.0      161
11          11.0       95
12          12.0       52
13          13.0       38
14          14.0       24
15          15.0       17
16          16.0       11
17          17.0        3
18          18.0        2
19          19.0        2
20          20.0        5
21          21.0        1
22          22.0        2
23          23.0        1
24          24.0        1
25          25.0        2
26          26.0        1
27          27.0        2

We could see that highest answer number is 27 and lowest is 0

In [51]:
import numpy as np

In [54]:
np.median(post_tb[post_tb["answer_count"].notna()]["answer_count"].values.tolist())

1.0

The median value is 1, which proved the preceding result of distribution

Same method, for the "comment_count"

In [55]:
post_tb[["id","comment_count"]].groupby("comment_count").count().reset_index()

    comment_count       id
0               0  2624099
1               1   923535
2               2   703548
3               3   428850
4               4   296864
5               5   191679
6               6   133320
7               7    90256
8               8    61775
9               9    41535
10             10    28375
11             11    19483
12             12    13871
13             13     9703
14             14     6978
15             15     5009
16             16     3832
17             17     2751
18             18     2170
19             19     1604
20             20     1172
21             21      857
22             22      650
23             23      513
24             24      423
25             25      290
26             26      247
27             27      182
28             28      147
29             29      115
30             30       89
31             31       79
32             32       70
33             33       46
34             34       38
35             35       34
36             36       23
37             37       24
38             38       18
39             39       11
40             40       14
41             41       11
42             42       16
43             43       11
44             44        9
45             45        4
46             46        7
47             47        3
48             48        9
49             49        4
50             50        2
51             51        2
52             52        3
53             53        4
54             54        2
55             55        4
56             56        1
57             57        5
58             58        2
59             59        1
60             60        1
61             64        2
62             69        1
63             70        1
64             72        1
65             75        1
66             78        3
67             91        1
68            119        2

In [56]:
np.median(post_tb[post_tb["comment_count"].notna()]["comment_count"].values.tolist())

1.0

In [58]:
post_tb[post_tb["comment_count"]==119]

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,location
1335949,29479702,NaN,NaN,NaN,119,2015-04-06 21:07:14.203 UTC,2015-04-06 21:07:14.203 UTC,NaN,2015-04-17 19:32:04.247 UTC,2015-04-17 19:32:04.247 UTC,NaN,811.0,NaN,100297.0,NaN,6,10893,NaN,NaN,UK
1813173,32240629,UIImageView Frame Doesn't Reflect Constraints,32261177.0,1.0,119,NaN,2015-08-27 04:17:12.267 UTC,NaN,2015-08-27 23:45:54.283 UTC,2015-08-27 04:50:07.493 UTC,NaN,2809263.0,NaN,2809263.0,NaN,1,0,ios|swift|uiview|autolayout|constraints,113.0,NAN

The median value of "comment_count" is also 1, and it is mainly distributed in 0 to 10 comments for each anwser. The largest value is 119, mucher higher than the others. So company should make survey on these kind of posts to attracts visitors' comment.

Then for "favorite_count"

In [59]:
post_tb[["id","favorite_count"]].groupby("favorite_count").count().reset_index()

    favorite_count      id
0              0.0   70861
1              1.0  216593
2              2.0   36500
3              3.0    9625
4              4.0    3588
5              5.0    1744
6              6.0    1002
7              7.0     605
8              8.0     400
9              9.0     268
10            10.0     200
11            11.0     162
12            12.0     123
13            13.0     105
14            14.0      69
15            15.0      50
16            16.0      50
17            17.0      43
18            18.0      39
19            19.0      39
20            20.0      21
21            21.0      24
22            22.0      25
23            23.0      24
24            24.0      11
25            25.0      11
26            26.0      12
27            27.0      13
28            28.0       7
29            29.0       8
30            30.0       6
31            31.0      12
32            32.0       6
33            33.0      13
34            34.0       1
35            35.0       8
36            36.0       5
37            37.0       6
38            38.0       5
39            39.0       8
40            40.0       4
41            41.0       3
42            42.0       2
43            43.0       2
44            44.0       1
45            45.0       5
46            46.0       3
47            47.0       4
48            48.0       3
49            49.0       5
50            51.0       3
51            52.0       3
52            54.0       3
53            55.0       4
54            57.0       1
55            58.0       1
56            60.0       2
57            61.0       2
58            62.0       2
59            63.0       1
60            66.0       1
61            67.0       2
62            71.0       1
63            73.0       3
64            74.0       2
65            76.0       1
66            77.0       2
67            78.0       1
68            80.0       1
69            81.0       1
70            82.0       1
71            83.0       2
72            85.0       2
73            89.0       1
74            90.0       1
75            95.0       1
76           109.0       1
77           125.0       1
78           134.0       1
79           147.0       1
80           158.0       1
81           172.0       1
82           189.0       1
83           205.0       1
84           236.0       1
85           328.0       1

In [61]:
np.median(post_tb[post_tb["favorite_count"].notna()]["favorite_count"].values.tolist())

1.0

The median value of "favorite_count" is also 1, and it is mainly distributed in 0 to 10 favorites for each anwser. The largest value is 205, 236, 328, mucher higher than the others. So company should make survey on these kind of posts to attracts visitors' comment.

And a different thing is that favourite count of 1 is much higher than 0, maybe that means for the creator they always favourite their own questions :), it is better for company do survey on it.

Then for "view_count"

In [62]:
post_tb[["id","view_count"]].groupby("view_count").count().reset_index()

       view_count     id
0             2.0     26
1             3.0    100
2             4.0    274
3             5.0    534
4             6.0    822
5             7.0   1353
6             8.0   1888
7             9.0   2531
8            10.0   3321
9            11.0   4125
10           12.0   5124
11           13.0   5886
12           14.0   7093
13           15.0   8172
14           16.0   9398
15           17.0  10466
16           18.0  11708
17           19.0  12749
18           20.0  13795
19           21.0  15279
20           22.0  16135
21           23.0  17487
22           24.0  18162
23           25.0  19130
24           26.0  20008
25           27.0  20627
26           28.0  21344
27           29.0  21911
28           30.0  22645
29           31.0  22866
30           32.0  23023
31           33.0  23643
32           34.0  23879
33           35.0  23741
34           36.0  24045
35           37.0  23949
36           38.0  23992
37           39.0  23725
38           40.0  23709
39           41.0  23352
40           42.0  23217
41           43.0  22812
42           44.0  22475
43           45.0  22877
44           46.0  22096
45           47.0  21635
46           48.0  21684
47           49.0  21072
48           50.0  20829
49           51.0  20260
50           52.0  20080
51           53.0  19767
52           54.0  19392
53           55.0  19150
54           56.0  18713
55           57.0  18306
56           58.0  18117
57           59.0  17662
58           60.0  17152
59           61.0  17150
60           62.0  16488
61           63.0  16171
62           64.0  15927
63           65.0  15727
64           66.0  15440
65           67.0  14926
66           68.0  14548
67           69.0  14309
68           70.0  14121
69           71.0  13887
70           72.0  13473
71           73.0  13169
72           74.0  12979
73           75.0  12488
74           76.0  12448
...           ...    ...
10676     62471.0      1
10677     62835.0      1
10678     63228.0      1
10679     63250.0      1
10680     63467.0      1
10681     63607.0      1
10682     63663.0      1
10683     63669.0      1
10684     64603.0      1
10685     64936.0      1
10686     65084.0      1
10687     65887.0      1
10688     66626.0      1
10689     67048.0      1
10690     67177.0      1
10691     67417.0      1
10692     67974.0      1
10693     68151.0      1
10694     68496.0      1
10695     69286.0      1
10696     69720.0      1
10697     70166.0      1
10698     70744.0      1
10699     71410.0      1
10700     72188.0      1
10701     72592.0      1
10702     72676.0      1
10703     72971.0      1
10704     73503.0      1
10705     74976.0      1
10706     75201.0      1
10707     75255.0      1
10708     75910.0      1
10709     76418.0      1
10710     76627.0      1
10711     77213.0      1
10712     78031.0      1
10713     78323.0      2
10714     78344.0      1
10715     79381.0      1
10716     80931.0      1
10717     82232.0      1
10718     83652.0      1
10719     85359.0      1
10720     85746.0      1
10721     86656.0      1
10722     88679.0      1
10723     89899.0      1
10724     89955.0      1
10725     90127.0      1
10726     93937.0      1
10727     95485.0      1
10728     97237.0      1
10729     98534.0      1
10730     99141.0      1
10731    101461.0      1
10732    104562.0      1
10733    105932.0      1
10734    107277.0      1
10735    111740.0      1
10736    112842.0      1
10737    114519.0      1
10738    125813.0      1
10739    126210.0      1
10740    128451.0      1
10741    135616.0      1
10742    137771.0      1
10743    158464.0      1
10744    177337.0      1
10745    218715.0      1
10746    235734.0      1
10747    251252.0      1
10748    266043.0      1
10749    267778.0      1
10750    318907.0      1

[10751 rows x 2 columns]

In [63]:
np.median(post_tb[post_tb["view_count"].notna()]["view_count"].values.tolist())

78.0

In [67]:
from scipy.stats import normaltest
normaltest(post_tb[post_tb["view_count"].notna()]["view_count"].values.tolist())

NormaltestResult(statistic=8566354.999981645, pvalue=0.0)

The median value of "view_count" is also 78, it is main distributed around this value. After performing normal test, it does not obey such test.

Then we analysis the correlation within these values

In [69]:
post_tb[["answer_count","comment_count","favorite_count","view_count"]].corr()

                answer_count  comment_count  favorite_count  view_count
answer_count        1.000000       0.040317        0.205724    0.173082
comment_count       0.040317       1.000000        0.047302    0.010082
favorite_count      0.205724       0.047302        1.000000    0.507507
view_count          0.173082       0.010082        0.507507    1.000000

From the correlation matrix we could see that answer_count and favorite_count, answer_count and view_count, favorite_count and view_count has higher correlation, which means when one feature, such as favorite_count increase for some specific post, the other such as answer_count has higer possibility of increasing

The analysis of this part is not done yet, I will do further analysis combined with "tages" in parts later

In this part we want to see the score information of the posts

In [72]:
post_tb[["id","score"]].groupby("score").count().reset_index()

     score       id
0      -63        1
1      -50        1
2      -42        1
3      -40        1
4      -30        1
5      -28        2
6      -25        1
7      -21        6
8      -20        7
9      -19        2
10     -18        5
11     -17       11
12     -16        7
13     -15       11
14     -14       15
15     -13       38
16     -12       43
17     -11      109
18     -10      162
19      -9      337
20      -8      593
21      -7     1215
22      -6     2442
23      -5     5479
24      -4    11625
25      -3    23814
26      -2    55464
27      -1   166098
28       0  2775645
29       1  1419616
30       2   575978
31       3   248780
32       4   118347
33       5    60581
34       6    35577
35       7    22079
36       8    14732
37       9    10164
38      10     7604
39      11     5679
40      12     4511
41      13     3611
42      14     2851
43      15     2362
44      16     1954
45      17     1630
46      18     1418
47      19     1183
48      20     1099
49      21      934
50      22      794
51      23      665
52      24      653
53      25      546
54      26      527
55      27      435
56      28      427
57      29      385
58      30      343
59      31      304
60      32      296
61      33      275
62      34      260
63      35      216
64      36      193
65      37      203
66      38      183
67      39      137
68      40      148
69      41      123
70      42      140
71      43      139
72      44      106
73      45      118
74      46      105
..     ...      ...
320    412        1
321    414        1
322    415        1
323    428        2
324    431        1
325    439        1
326    440        1
327    446        1
328    449        1
329    451        1
330    455        1
331    478        1
332    490        1
333    501        1
334    508        1
335    513        1
336    517        1
337    520        1
338    524        1
339    526        2
340    548        1
341    554        1
342    572        1
343    588        1
344    591        1
345    593        1
346    605        1
347    608        1
348    653        1
349    654        1
350    659        1
351    671        1
352    679        1
353    680        1
354    681        1
355    685        1
356    691        1
357    698        1
358    724        1
359    769        1
360    815        1
361    884        1
362    945        1
363   1018        1
364   1078        1
365   1223        1
366   1406        1
367   1492        1
368   1617        1
369   1745        1
370   1820        1
371   1998        1
372   2483        1
373   2536        1
374   2610        1
375   2646        2
376   2662        1
377   3058        1
378   3123        1
379   3173        1
380   3297        1
381   3899        1
382   4126        1
383   4353        1
384   4593        1
385   5190        1
386   5204        1
387   5455        1
388   5656        1
389   5915        1
390   7302        1
391   7387        1
392   9368        1
393  10893        1
394  11941        1

[395 rows x 2 columns]

We could see that the score range is from -63 to 11941, the interesting is that we got negative value of score, so I'd like to first calculate the negative value ratio.

In [73]:
neg_num = 0
for each in post_tb.score.values.tolist():
    if each<0:
        neg_num+=1
neg_num/len(post_tb.score.values.tolist())

0.04781413243834182

In [77]:
post_tb[post_tb["score"]<0].head()

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,location
677,29559861,NaN,NaN,NaN,0,NaN,2015-04-10 11:06:32.183 UTC,NaN,2015-04-11 11:06:45.757 UTC,2015-04-11 11:06:45.757 UTC,NaN,1401962.0,NaN,4430741.0,258626.0,2,-1,NaN,NaN,NAN
678,31080771,NaN,NaN,NaN,0,NaN,2015-06-26 19:28:13.977 UTC,NaN,2015-06-26 20:50:26.967 UTC,2015-06-26 20:50:26.967 UTC,NaN,1386703.0,NaN,5054279.0,31077317.0,2,-1,NaN,NaN,NAN
679,28583045,NaN,NaN,NaN,0,NaN,2015-02-18 11:55:28.147 UTC,NaN,2015-12-01 12:41:13.413 UTC,2015-12-01 12:41:13.413 UTC,NaN,316424.0,NaN,4540247.0,11169281.0,2,-1,NaN,NaN,NAN
680,29271828,NaN,NaN,NaN,0,NaN,2015-03-26 05:44:50.14 UTC,NaN,2015-03-28 05:40:10.603 UTC,2015-03-28 05:40:10.603 UTC,NaN,4550791.0,NaN,4550791.0,29271026.0,2,-1,NaN,NaN,NAN
681,32706565,NaN,NaN,NaN,0,NaN,2015-09-22 00:32:53.137 UTC,NaN,2015-09-22 01:05:18.997 UTC,2015-09-22 01:05:18.997 UTC,NaN,4526552.0,NaN,4526552.0,32706381.0,2,-1,NaN,NaN,NAN

We could see that about 4.78% of the posts holds the negative score. So company should focus on the negative score posts to improve posts services

Then we want to know the inforamtion of post type of each post

In [78]:
post_tb[["id","post_type_id"]].groupby("post_type_id").count().reset_index()

   post_type_id       id
0             1  2388670
1             2  3194665
2             4     5496
3             5     5496
4             6       65

We could know that the main part of post type is 1 and 2, we donot have type3, and the rest is 4, 5, 6. Company could focus on improving services of post type 2 and 1 first. Also, it may be a good method to eccorage people to use 4, 5, 6 to post.

Then because a very interesting information we have is that we have date information of each post in year 2015, so I want to make clear the post distribution of Month, Hour and Weekday, and important, the times interval between created date and last activity date.

In [9]:
post_tb['creation_date'] = post_tb['creation_date'].apply(lambda x:x.replace(' UTC','+0000'))
post_tb['last_activity_date'] = post_tb['last_activity_date'].apply(lambda x:x.replace(' UTC','+0000'))
post_tb['creation_month'] = post_tb['creation_date'].apply(lambda x:x[5:7])
post_tb['creation_hour'] = post_tb['creation_date'].apply(lambda x:x[10:13])
post_tb['time_interval'] = pd.DataFrame(pd.to_datetime(post_tb['last_activity_date']) - pd.to_datetime(post_tb['creation_date']))
post_tb['weekday'] = post_tb['creation_date'].apply(lambda x:pd.to_datetime(x).weekday())

In [10]:
post_tb.drop(["creation_date","last_activity_date"] , axis = 1, inplace = True)

We drop duplicated information here

In [12]:
post_tb['time_interval'] = post_tb['time_interval'].apply(lambda x: x.days)

In [13]:
post_tb.head()

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,favorite_count,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,location,creation_month,creation_hour,time_interval,weekday
0,34016263,Real alternative for Google Feed API,NaN,0.0,13,NaN,9.0,2015-12-04 11:52:25.647 UTC,NaN,4671020.0,NaN,4671020.0,NaN,1,15,javascript|php|json|rss|google-feed-api,4240.0,NAN,12,08,3,1
1,28321638,Strongly Typed RedirectToAction (Futures) usin...,NaN,0.0,4,NaN,3.0,NaN,NaN,NaN,NaN,826568.0,NaN,1,4,c#|asynchronous|asp.net-mvc-5|asp.net-mvc-futures,425.0,URUGUAY,02,12,0,2
2,34054617,Magento 2 installing language packs (nl_NL tra...,34055069.0,1.0,0,NaN,3.0,2015-12-11 03:52:32.467 UTC,NaN,1364007.0,NaN,3215647.0,NaN,1,2,magento|magento2|magento-2.0,2938.0,NETHERLANDS,12,22,14,2
3,27836577,How to mock a tornado coroutine function using...,27880772.0,1.0,0,NaN,3.0,2015-01-08 09:22:43.9 UTC,NaN,324490.0,NaN,324490.0,NaN,1,9,python|unit-testing|mocking|tornado,2035.0,TAIWAN,01,09,2,3
4,32064375,Magnet pattern and overloaded methods,32068645.0,1.0,0,NaN,5.0,2015-08-18 06:16:52.367 UTC,NaN,554460.0,NaN,554460.0,NaN,1,13,scala|implicit,464.0,CA,08,05,0,1

We first have a look at the distribution between months

In [14]:
post_tb[["id","creation_month"]].groupby("creation_month").count().reset_index()

   creation_month      id
0              01  417460
1              02  420321
2              03  469464
3              04  482161
4              05  468742
5              06  483342
6              07  511968
7              08  475543
8              09  466241
9              10  485682
10             11  461953
11             12  451515

We could know that the posts in summer (month: 6 7 8 9) is average 20% higer than winter (month 1 2) per month

Then analysis for the hour

In [15]:
post_tb[["id","creation_hour"]].groupby("creation_hour").count().reset_index()

   creation_hour      id
0             00  132979
1             01  123885
2             02  124478
3             03  126660
4             04  139533
5             05  169136
6             06  209864
7             07  239051
8             08  255611
9             09  296306
10            10  299205
11            11  293364
12            12  300139
13            13  317075
14            14  326270
15            15  320099
16            16  295824
17            17  275019
18            18  268006
19            19  258358
20            20  248701
21            21  226252
22            22  190276
23            23  158301

We could know that from hour 0 to hour 23, the peak hour of creatign posts is from 9 to 21, which is much higer than in the evening and mid-night. Users tend to post posts in day. So company should pay more attention to day time services.

Then analysis for the weekday

In [16]:
post_tb[["id","weekday"]].groupby("weekday").count().reset_index()

   weekday      id
0        0  871751
1        1  962993
2        2  983404
3        3  967650
4        4  858746
5        5  476298
6        6  473550

N.B. in the weekday calculated by python, 0 means Monday, 1 means Tuesday and etc.

So we could know that in weekend (5 to Saturday and 6 to Sunday), the number of posts is much lower than that in weekday, which is only half of the weekday. Weekday posts stay stable. Maybe because people always meet problems and posts them during work time.

Then for time interval

In [17]:
post_tb[["id","time_interval"]].groupby("time_interval").count().reset_index()

     time_interval       id
0                0  4832518
1                1   149846
2                2    80464
3                3    43209
4                4    30188
5                5    23481
6                6    19313
7                7    15121
8                8    11863
9                9     9957
10              10     8342
11              11     7675
12              12     7206
13              13     6950
14              14     6123
15              15     5009
16              16     4441
17              17     4180
18              18     4084
19              19     3932
20              20     3982
21              21     3767
22              22     3394
23              23     2923
24              24     2839
25              25     2863
26              26     2759
27              27     2968
28              28     2978
29              29     2557
30              30     2308
31              31     2099
32              32     2124
33              33     2256
34              34     2327
35              35     2254
36              36     1981
37              37     1850
38              38     1720
39              39     1721
40              40     1764
41              41     1954
42              42     1785
43              43     1719
44              44     1548
45              45     1553
46              46     1550
47              47     1519
48              48     1661
49              49     1696
50              50     1488
51              51     1380
52              52     1405
53              53     1383
54              54     1422
55              55     1570
56              56     1597
57              57     1458
58              58     1319
59              59     1326
60              60     1308
61              61     1320
62              62     1447
63              63     1442
64              64     1286
65              65     1234
66              66     1187
67              67     1177
68              68     1259
69              69     1336
70              70     1331
71              71     1274
72              72     1156
73              73     1141
74              74     1079
..             ...      ...
452            452      114
453            453      126
454            454      128
455            455      128
456            456      127
457            457       98
458            458       82
459            459      123
460            460      119
461            461      105
462            462      120
463            463       88
464            464      100
465            465       84
466            466       85
467            467      107
468            468      104
469            469       97
470            470       75
471            471       70
472            472       68
473            473       71
474            474       82
475            475       88
476            476       76
477            477       70
478            478       63
479            479       57
480            480       74
481            481       82
482            482       70
483            483       72
484            484       46
485            485       66
486            486       42
487            487       57
488            488       57
489            489       68
490            490       65
491            491       73
492            492       50
493            493       61
494            494       52
495            495       52
496            496       47
497            497       39
498            498       36
499            499       39
500            500       37
501            501       44
502            502       40
503            503       33
504            504       31
505            505       29
506            506       26
507            507       32
508            508       18
509            509       31
510            510       28
511            511       29
512            512       22
513            513       17
514            514       12
515            515       16
516            516       14
517            517       16
518            518       13
519            519        8
520            520        7
521            521        3
522            522        2
523            523        7
524            524        4
525            525        2
526            527        1

[527 rows x 2 columns]

In [18]:
4832518/5594392
# ratio of 0 days

0.8638146915697005

In [22]:
sum(post_tb[["id","time_interval"]].groupby("time_interval").count().reset_index()["id"].values.tolist()[:10])/5594392
# ratio of 0 to 9 days

0.9323551156229309

Although there are many posts activity last a long time, we could know that most posts last activity is within only 1 day, the ratio is about 86.4%, and the posts last activity within 10 days ratio is about 93.2%. Company should focus more on the current day posts services.

Then a important information is about the owner user, we want to find out for each user, how many posts has he/she posted and where they come from.

In [25]:
owner_small = post_tb[["owner_user_id","id"]].groupby("owner_user_id").count().reset_index().sort_values(by = "id",ascending = False)
owner_small

         owner_user_id    id
133021       1144035.0  7570
60290         548225.0  4300
463552       3732271.0  3392
407864       3297613.0  3110
182241       1491895.0  2954
11559         100297.0  2866
477590       3832970.0  2800
266531       2141635.0  2536
84434         771848.0  2467
12984         114251.0  2413
13067         115145.0  2372
1430            6309.0  2357
17498         157247.0  2326
144265       1221571.0  2306
47683         434551.0  2201
36779         335858.0  2090
23004         207421.0  2005
3773           22656.0  1965
111231        992484.0  1944
3319           19068.0  1910
37430         341994.0  1889
87236         795990.0  1853
300593       2422776.0  1841
0                 -1.0  1791
89726         816620.0  1719
50996         462627.0  1702
302188       2435473.0  1698
507544       4039065.0  1669
183548       1501794.0  1580
251597       2025923.0  1556
356634       2877241.0  1555
55831         505088.0  1553
105273        949476.0  1540
456614       3679490.0  1530
11925         104349.0  1494
14898         131872.0  1492
355520       2867928.0  1490
62867         571407.0  1480
203187       1651298.0  1469
218316       1766831.0  1455
347462       2801559.0  1453
270423       2173917.0  1444
257236       2069064.0  1435
31380         284240.0  1377
197190       1603351.0  1359
368024       2970947.0  1346
119394       1048572.0  1305
8064           65863.0  1274
77398         704848.0  1245
10046          85371.0  1236
184031       1505120.0  1231
57366         519413.0  1220
48365         440558.0  1199
231040       1863229.0  1178
440852       3559349.0  1171
137677       1175966.0  1166
246228       1983495.0  1164
57654         522444.0  1139
1624            7432.0  1126
492134       3933332.0  1119
2730           14860.0  1108
450950       3636601.0  1104
414247       3349551.0  1098
187367       1529630.0  1089
22759         205185.0  1087
61694         560648.0  1078
500258       3989608.0  1076
373240       3016153.0  1073
8391           69083.0  1071
2766           15168.0  1048
55469         501696.0  1040
439030       3545273.0  1039
272312       2189127.0  1029
15724         139985.0  1025
347530       2802040.0  1022
...                ...   ...
63158         573991.0     1
569967       4410306.0     1
569963       4410288.0     1
569961       4410280.0     1
569901       4410096.0     1
569900       4410095.0     1
569899       4410092.0     1
63198         574292.0     1
569819       4409855.0     1
569820       4409856.0     1
569822       4409858.0     1
569825       4409869.0     1
569826       4409871.0     1
569827       4409881.0     1
569829       4409886.0     1
569843       4409949.0     1
569830       4409887.0     1
63197         574279.0     1
569832       4409909.0     1
569838       4409934.0     1
569839       4409938.0     1
569840       4409940.0     1
569818       4409854.0     1
569817       4409853.0     1
569816       4409852.0     1
569812       4409840.0     1
569811       4409838.0     1
63204         574379.0     1
569806       4409821.0     1
569805       4409819.0     1
63206         574426.0     1
569802       4409803.0     1
569800       4409800.0     1
569799       4409799.0     1
569797       4409790.0     1
569795       4409782.0     1
569792       4409770.0     1
569791       4409767.0     1
569789       4409761.0     1
569841       4409945.0     1
569844       4409952.0     1
569898       4410091.0     1
569884       4410058.0     1
569873       4410016.0     1
569877       4410040.0     1
569878       4410044.0     1
569880       4410052.0     1
569881       4410055.0     1
569883       4410057.0     1
569885       4410060.0     1
569845       4409954.0     1
569887       4410067.0     1
63175         574099.0     1
569892       4410080.0     1
63174         574093.0     1
569896       4410087.0     1
569897       4410088.0     1
569868       4410010.0     1
63180         574130.0     1
63183         574154.0     1
569862       4409992.0     1
63185         574170.0     1
569860       4409990.0     1
569859       4409987.0     1
569857       4409984.0     1
569856       4409979.0     1
63187         574185.0     1
569853       4409976.0     1
569851       4409968.0     1
569850       4409966.0     1
569849       4409965.0     1
63192         574218.0     1
569847       4409963.0     1
569846       4409955.0     1
1021937      6452888.0     1

[1021938 rows x 2 columns]

N.B. in the data processing procedure, if a post have no user id, I change it to -1.

From the table above, we could see that a lot user have thousands of value of posts, the most activite user is user 1144035 who has 7570 posts. Is that means all user are active?

So then I calculate the number of users who have post less than 10

In [30]:
cal_lst2 = [0,0,0,0,0,0,0,0,0]
cal_large = 0
for each in list(owner_small['id']):
    if each ==1:
        cal_lst2[0]+=1
    if each ==2:
        cal_lst2[1]+=1
    if each ==3:
        cal_lst2[2]+=1
    if each ==4:
        cal_lst2[3]+=1
    if each ==5:
        cal_lst2[4]+=1
    if each ==6:
        cal_lst2[5]+=1
    if each ==7:
        cal_lst2[6]+=1
    if each ==8:
        cal_lst2[7]+=1
    if each ==9:
        cal_lst2[8]+=1
    if each > 100:
        cal_large +=1
cal_lst2

[478164, 174631, 89287, 56113, 38340, 27872, 21290, 16721, 13458]

In [31]:
cal_large

4788

In [29]:
sum(cal_lst2)/len(owner_small-1)

0.8962148388649801

In [33]:
(cal_large-1)/len(owner_small-1)

0.004684237204213954

We could see that about 89.6% of user only have less than 10 posts. Only about 0.47% users have larger than 100 posts. And the user who has large number, such as larger than 100 posts, company should focus on this user as main target user.

And another question is that where each owner post user come from?

In [34]:
post_tb[['location','id']].groupby(["location"]).count().reset_index().sort_values(by = "id",ascending = False)

                               location       id
5843                                NAN  2450878
4078                              INDIA   369623
9307                      UNITED STATES   219532
9291                     UNITED KINGDOM   159050
3282                            GERMANY   151113
1705                             CANADA    88059
3097                             FRANCE    84791
9410                                USA    84267
829                           AUSTRALIA    65511
1625                                 CA    61892
5943                        NETHERLANDS    55410
7469                             RUSSIA    45051
9225                                 UK    45002
6953                             POLAND    44033
4307                              ITALY    39085
4278                             ISRAEL    38728
8506                             SWEDEN    34229
8527                        SWITZERLAND    33129
1449                             BRAZIL    30921
8286                              SPAIN    30278
6686                           PAKISTAN    28619
6512                 ON THE SERVER FARM    27030
1972                              CHINA    24297
1142                            BELGIUM    23664
9671                                 WA    23102
9243                            UKRAINE    22681
9163                                 TX    21550
4199                               IRAN    19721
2318                     CZECH REPUBLIC    18816
4235                            IRELAND    18503
844                             AUSTRIA    17877
6366                                 NY    17580
7928                          SINGAPORE    17572
5172                                 MA    17376
6019                        NEW ZEALAND    17241
985                          BANGLADESH    17126
7402                            ROMANIA    17005
2476                            DENMARK    16565
2501                        DEUTSCHLAND    14798
9131                             TURKEY    14325
8152                       SOUTH AFRICA    14314
8315                          SRI LANKA    13666
1670                         CALIFORNIA    13549
6869                        PHILIPPINES    13397
3015                            FINLAND    13279
5035                             LONDON    13162
6267                             NORWAY    13046
3972                                 IL    12878
4369                              JAPAN    12130
1566                           BULGARIA    11864
7024                           PORTUGAL    11551
3024                                 FL    11262
3473                             GREECE    11214
6656                                 PA    10407
2711                              EARTH    10392
962                           BANGALORE    10384
693                           ARGENTINA    10164
3878                            HUNGARY     9101
8863                    THE NETHERLANDS     8899
9585                            VIETNAM     8719
4131                          INDONESIA     8691
6544                                 OR     7847
2838                            ENGLAND     7786
5438                             MEXICO     7674
2799                              EGYPT     7659
6433                                 OH     7494
3193                                 GA     7489
2115                                 CO     7446
5248                           MALAYSIA     7280
2921                             EUROPE     7223
5880                                 NC     6624
5932                              NEPAL     6398
5453                                 MI     6238
1130                            BELARUS     6026
5581                                 MN     5933
...                                 ...      ...
4253                              IRSKO        1
4252                              IRSKA        1
4243                            IRELANS        1
8318                SRI LANKA/SINGAPORE        1
4242                 IRELAND/MANCHESTER        1
4241                    IRELAND/GERMANY        1
8295                             SPANJE        1
4308                  ITALY & MINNESOTA        1
8381                              STHLM        1
8291                             SPAIN.        1
4358                           JALISCO.        1
8267                        SOUTK KOREA        1
8268                  SOVIET CANUKISTAN        1
8269                      SOVIET RUSSIA        1
8270                      SOVIET SWEDEN        1
8271                       SOVIET UNION        1
8272                             SOWETO        1
8277                          SP BRASIL        1
4348                  JAIPUR/TRIVANDRUM        1
8279                          SP/BRAZIL        1
8281                       SPAAAAAAAACE        1
4342                           JAGODINA        1
4336                      IZMIR/TURKİYE        1
4326                           IVANCICE        1
4324                              ITLAY        1
4323                          ITHACA NY        1
8288                    SPAIN & ESTONIA        1
4319                 ITAQUAQUECETUBA/SP        1
4318                           ITANAGAR        1
4239                           IRELAND.        1
8324                                SSS        1
8325                          ST ALBANS        1
4232                              IRATI        1
4188               INVERTED IN THE CYBA        1
4169                              INTEL        1
4167                   INSIDEGODSMATRIX        1
4164                  INSIDE THE MATRIX        1
8361               STAMFORD CONNECTICUT        1
4159                        INSIDE FPGA        1
4158                          INNSMOUTH        1
4155                     INNOVO MEDICAL        1
4150                         INGOLSTADT        1
4145                    INDORE MP INDIA        1
8369         STATELE UNITE ALE AMERICII        1
8370                          STATESIDE        1
4143                        INDORE M.P.        1
4138                          INDONESIË        1
4135   INDONESIA | MALAYSIA | SINGAPORE        1
4130                          INDONEISA        1
4124                          INDINESIA        1
4121                           INDIANIC        1
8379                            STETSON        1
4196                              IR-FA        1
4198                              IRAAN        1
8348                              STACK        1
4223                          IRAN-YAZD        1
4231                       IRAQ BAGHDAD        1
4229                        IRAN/TEHRAN        1
8329               ST PETERSBURG RUSSIA        1
8330                      ST-PETERSBURG        1
4226                       IRAN. TEHRAN        1
8332                      ST. GALLEN CH        1
4224                        IRAN-ZANJAN        1
8334               ST. LOUIS METRO EAST        1
4220                           IRAN-QOM        1
4201                    IRAN - BOUSHEHR        1
4218                       IRAN-HAMEDAN        1
4216                          IRAN-ARAK        1
4214                     IRAN KURDISTAN        1
4213                       IRAN HAMEDAN        1
4210                      IRAN / FRANCE        1
4207                      IRAN - TEHRAN        1
4206                         IRAN - SUQ        1
4203                       IRAN - KARAJ        1
10486                  한국 (SOUTH KOREA)        1

[10487 rows x 2 columns]

In [35]:
(369623+219532+159050+151113+88059+84267+45002)/5594392

0.1996009575303268

In [36]:
2450878/5594392

0.43809550707208217

NaN is about 43.8% of the users information.

Except for the NaN values, the main user 20% is from India, United States/ USA, United Kingdom/UK, Germany, Canada, France. Compared to the result before, we found that user from Germany is more active than in Canada even though canada registed more user. The other tendency is keep still in this feature.

Here, we come to the tag information of the dataset. We first want to make clear which tag is most popular.

In [39]:
tags_total = []
post_tags = post_tb.tags.tolist()
for each in post_tags:
    tags_total.extend(str(each).split("|"))

In [40]:
from collections import Counter

In [46]:
dic_tags = dict(Counter(tags_total))
sorted(dic_tags.items(), key=lambda item:item[1], reverse=True)

[('nan', 3206012),
 ('javascript', 272130),
 ('java', 229712),
 ('php', 182744),
 ('android', 180511),
 ('c#', 165000),
 ('python', 144287),
 ('jquery', 136671),
 ('html', 125674),
 ('ios', 107391),
 ('css', 88973),
 ('c++', 83529),
 ('mysql', 78722),
 ('angularjs', 73174),
 ('sql', 56465),
 ('swift', 53175),
 ('arrays', 46236),
 ('ruby-on-rails', 42930),
 ('r', 42720),
 ('c', 41255),
 ('json', 40508),
 ('node.js', 40465),
 ('asp.net', 38705),
 ('objective-c', 38306),
 ('sql-server', 34759),
 ('ruby', 29282),
 ('ajax', 28827),
 ('regex', 28793),
 ('excel', 26307),
 ('linux', 26230),
 ('xml', 25360),
 ('asp.net-mvc', 25060),
 ('.net', 24804),
 ('django', 24360),
 ('wordpress', 23084),
 ('spring', 23067),
 ('twitter-bootstrap', 21420),
 ('xcode', 20194),
 ('database', 19702),
 ('string', 19324),
 ('html5', 19269),
 ('vba', 18962),
 ('mongodb', 18217),
 ('wpf', 17967),
 ('windows', 17285),
 ('vb.net', 16734),
 ('eclipse', 16652),
 ('multithreading', 15962),
 ('python-2.7', 15879),
 ('bash', 15756),
 ('git', 15575),
 ('laravel', 15159),
 ('excel-vba', 15003),
 ('oracle', 14925),
 ('matlab', 14722),
 ('postgresql', 13824),
 ('forms', 13758),
 ('osx', 13501),
 ('apache', 13480),
 ('scala', 13394),
 ('iphone', 13022),
 ('image', 12650),
 ('algorithm', 12611),
 ('css3', 12151),
 ('android-studio', 11572),
 ('rest', 11535),
 ('list', 11523),
 ('cordova', 11485),
 ('python-3.x', 11427),
 ('entity-framework', 11319),
 ('facebook', 11199),
 ('ruby-on-rails-4', 11081),
 ('symfony2', 10956),
 ('maven', 10880),
 ('visual-studio', 10790),
 ('hibernate', 10686),
 ('.htaccess', 10453),
 ('parse.com', 10418),
 ('function', 10034),
 ('shell', 9976),
 ('performance', 9763),
 ('qt', 9692),
 ('swing', 9660),
 ('csv', 9516),
 ('uitableview', 9441),
 ('api', 9435),
 ('meteor', 9355),
 ('pandas', 9214),
 ('spring-mvc', 9185),
 ('google-maps', 9088),
 ('amazon-web-services', 9074),
 ('powershell', 9063),
 ('google-chrome', 9032),
 ('loops', 9013),
 ('sqlite', 9009),
 ('winforms', 8946),
 ('codeigniter', 8904),
 ('file', 8738),
 ('sorting', 8640),
 ('azure', 8615),
 ('unit-testing', 8577),
 ('linq', 8565),
 ('selenium', 8469),
 ('sockets', 8404),
 ('hadoop', 8273),
 ('date', 8271),
 ('android-fragments', 8226),
 ('web-services', 8216),
 ('c++11', 8207),
 ('email', 8008),
 ('android-layout', 7774),
 ('xaml', 7705),
 ('visual-studio-2013', 7629),
 ('class', 7567),
 ('dictionary', 7527),
 ('laravel-5', 7503),
 ('reactjs', 7462),
 ('express', 7340),
 ('opencv', 7325),
 ('listview', 7285),
 ('jsp', 7283),
 ('apache-spark', 7280),
 ('numpy', 7272),
 ('validation', 7269),
 ('elasticsearch', 7089),
 ('ubuntu', 7013),
 ('unity3d', 6985),
 ('batch-file', 6941),
 ('http', 6837),
 ('perl', 6819),
 ('for-loop', 6756),
 ('asp.net-mvc-4', 6609),
 ('datetime', 6555),
 ('magento', 6500),
 ('pointers', 6439),
 ('ssl', 6263),
 ('if-statement', 6211),
 ('parsing', 6090),
 ('d3.js', 6088),
 ('gradle', 5946),
 ('docker', 5934),
 ('tomcat', 5908),
 ('session', 5871),
 ('object', 5863),
 ('pdf', 5853),
 ('sql-server-2008', 5840),
 ('oop', 5739),
 ('jpa', 5668),
 ('authentication', 5651),
 ('nginx', 5632),
 ('templates', 5622),
 ('haskell', 5598),
 ('unix', 5556),
 ('tsql', 5524),
 ('javafx', 5515),
 ('ms-access', 5494),
 ('security', 5453),
 ('animation', 5449),
 ('android-activity', 5428),
 ('model-view-controller', 5426),
 ('curl', 5386),
 ('variables', 5363),
 ('user-interface', 5361),
 ('svg', 5336),
 ('go', 5290),
 ('asynchronous', 5233),
 ('selenium-webdriver', 5191),
 ('redirect', 5174),
 ('visual-studio-2015', 5082),
 ('google-app-engine', 5072),
 ('recursion', 5060),
 ('facebook-graph-api', 5047),
 ('wcf', 5021),
 ('matrix', 4991),
 ('debugging', 4977),
 ('angularjs-directive', 4893),
 ('xamarin', 4885),
 ('matplotlib', 4882),
 ('asp.net-web-api', 4821),
 ('generics', 4816),
 ('delphi', 4776),
 ('canvas', 4771),
 ('mysqli', 4765),
 ('intellij-idea', 4753),
 ('jenkins', 4750),
 ('firefox', 4748),
 ('ionic', 4737),
 ('github', 4722),
 ('video', 4713),
 ('ember.js', 4709),
 ('spring-boot', 4694),
 ('jsf', 4693),
 ('server', 4674),
 ('mod-rewrite', 4657),
 ('web', 4635),
 ('arraylist', 4632),
 ('android-intent', 4574),
 ('inheritance', 4564),
 ('iis', 4555),
 ('url', 4546),
 ('twitter-bootstrap-3', 4538),
 ('internet-explorer', 4528),
 ('testing', 4526),
 ('servlets', 4510),
 ('caching', 4504),
 ('ionic-framework', 4486),
 ('audio', 4435),
 ('grails', 4411),
 ('join', 4379),
 ('swift2', 4363),
 ('post', 4315),
 ('button', 4291),
 ('select', 4257),
 ('opengl', 4255),
 ('gcc', 4223),
 ('assembly', 4208),
 ('windows-phone-8.1', 4197),
 ('cookies', 4194),
 ('plot', 4191),
 ('flask', 4183),
 ('heroku', 4182),
 ('logging', 4121),
 ('image-processing', 4118),
 ('stored-procedures', 4085),
 ('search', 4063),
 ('iframe', 4058),
 ('encryption', 4051),
 ('xpath', 4032),
 ('exception', 3995),
 ('checkbox', 3986),
 ('vector', 3958),
 ('soap', 3932),
 ('amazon-s3', 3928),
 ('asp.net-mvc-5', 3924),
 ('math', 3898),
 ('multidimensional-array', 3853),
 ('jdbc', 3839),
 ('dom', 3827),
 ('ios8', 3818),
 ('dataframe', 3807),
 ('cakephp', 3802),
 ('jquery-ui', 3793),
 ('razor', 3792),
 ('mongoose', 3791),
 ('xslt', 3783),
 ('memory', 3744),
 ('gridview', 3727),
 ('random', 3698),
 ('android-listview', 3656),
 ('pdo', 3650),
 ('ggplot2', 3641),
 ('visual-studio-2012', 3640),
 ('yii2', 3601),
 ('java-ee', 3591),
 ('activerecord', 3556),
 ('spring-security', 3546),
 ('input', 3531),
 ('google-maps-api-3', 3523),
 ('serialization', 3492),
 ('awk', 3485),
 ('sprite-kit', 3482),
 ('winapi', 3474),
 ('actionscript-3', 3455),
 ('mobile', 3453),
 ('events', 3449),
 ('table', 3430),
 ('methods', 3425),
 ('twitter', 3348),
 ('tkinter', 3343),
 ('core-data', 3342),
 ('ssh', 3339),
 ('cocoa', 3325),
 ('google-apps-script', 3324),
 ('amazon-ec2', 3306),
 ('typescript', 3298),
 ('struct', 3283),
 ('paypal', 3277),
 ('gulp', 3269),
 ('optimization', 3247),
 ('charts', 3230),
 ('highcharts', 3226),
 ('npm', 3217),
 ('netbeans', 3210),
 ('angular-ui-router', 3200),
 ('laravel-4', 3198),
 ('graph', 3189),
 ('text', 3135),
 ('java-8', 3130),
 ('sql-server-2012', 3119),
 ('neo4j', 3113),
 ('ios9', 3086),
 ('webview', 3065),
 ('mvvm', 3057),
 ('file-upload', 3045),
 ('sed', 3029),
 ('xcode6', 3005),
 ('networking', 2998),
 ('visual-studio-2010', 2995),
 ('oracle11g', 2995),
 ('cmd', 2992),
 ('woocommerce', 2965),
 ('google-analytics', 2954),
 ('reporting-services', 2953),
 ('boost', 2943),
 ('indexing', 2936),
 ('kendo-ui', 2932),
 ('dll', 2918),
 ('lambda', 2898),
 ('time', 2891),
 ('autolayout', 2882),
 ('data-structures', 2878),
 ('responsive-design', 2869),
 ('primefaces', 2868),
 ('junit', 2865),
 ('extjs', 2861),
 ('plugins', 2860),
 ('groovy', 2843),
 ('vim', 2843),
 ('google-chrome-extension', 2833),
 ('machine-learning', 2831),
 ('hash', 2819),
 ('doctrine2', 2813),
 ('filter', 2808),
 ('while-loop', 2800),
 ('google-spreadsheet', 2799),
 ('knockout.js', 2798),
 ('oauth', 2790),
 ('login', 2786),
 ('playframework', 2775),
 ('unicode', 2758),
 ('websocket', 2735),
 ('tcp', 2730),
 ('plsql', 2723),
 ('foreach', 2713),
 ('dynamic', 2696),
 ('cassandra', 2689),
 ('utf-8', 2679),
 ('printing', 2676),
 ('design-patterns', 2670),
 ('hive', 2669),
 ('flash', 2667),
 ('libgdx', 2659),
 ('polymer', 2658),
 ('sharepoint', 2655),
 ('solr', 2654),
 ('windows-phone-8', 2644),
 ('https', 2629),
 ('service', 2626),
 ('encoding', 2623),
 ('angularjs-scope', 2617),
 ('vbscript', 2612),
 ('excel-formula', 2592),
 ('layout', 2590),
 ('django-models', 2575),
 ('gruntjs', 2570),
 ('backbone.js', 2566),
 ('push-notification', 2561),
 ('laravel-5.1', 2544),
 ('web-scraping', 2543),
 ('xcode7', 2533),
 ('eloquent', 2530),
 ('replace', 2523),
 ('bluetooth', 2522),
 ('three.js', 2521),
 ('datatables', 2518),
 ('datagridview', 2510),
 ('visual-c++', 2510),
 ('firebase', 2497),
 ('datatable', 2487),
 ('import', 2486),
 ('drop-down-menu', 2481),
 ('reflection', 2476),
 ('jar', 2469),
 ('dependency-injection', 2465),
 ('redis', 2459),
 ('tfs', 2451),
 ('enums', 2447),
 ('error-handling', 2437),
 ('scroll', 2437),
 ('socket.io', 2428),
 ('rspec', 2424),
 ('fonts', 2422),
 ('svn', 2414),
 ('oauth-2.0', 2405),
 ('ffmpeg', 2401),
 ('uiview', 2395),
 ('yii', 2390),
 ('timer', 2383),
 ('youtube', 2380),
 ('terminal', 2380),
 ('command-line', 2374),
 ('combobox', 2373),
 ('c#-4.0', 2365),
 ('entity-framework-6', 2357),
 ('datepicker', 2354),
 ('proxy', 2335),
 ('ruby-on-rails-3', 2330),
 ('android-asynctask', 2319),
 ('view', 2316),
 ('merge', 2313),
 ('outlook', 2310),
 ('google-api', 2304),
 ('jquery-mobile', 2301),
 ('arduino', 2294),
 ('collections', 2283),
 ('uiviewcontroller', 2251),
 ('memory-management', 2250),
 ('bitmap', 2243),
 ('ipad', 2241),
 ('rust', 2241),
 ('browser', 2226),
 ('pagination', 2226),
 ('constructor', 2222),
 ('devise', 2212),
 ('colors', 2208),
 ('jboss', 2205),
 ('promise', 2192),
 ('jasmine', 2172),
 ('makefile', 2171),
 ('protractor', 2167),
 ('build', 2166),
 ('recyclerview', 2154),
 ('types', 2154),
 ('split', 2153),
 ('mapreduce', 2149),
 ('raspberry-pi', 2137),
 ('deployment', 2122),
 ('ssis', 2121),
 ('memory-leaks', 2121),
 ('windows-10', 2115),
 ('angularjs-ng-repeat', 2113),
 ('safari', 2113),
 ('shiny', 2111),
 ('parallel-processing', 2110),
 ('module', 2105),
 ('linked-list', 2099),
 ('android-gradle', 2097),
 ('notifications', 2094),
 ('controller', 2083),
 ('io', 2082),
 ('lua', 2078),
 ('uicollectionview', 2071),
 ('cmake', 2042),
 ('casting', 2041),
 ('autocomplete', 2040),
 ('camera', 2039),
 ('concurrency', 2038),
 ('parameters', 2032),
 ('count', 2028),
 ('graphics', 2020),
 ('nullpointerexception', 2016),
 ('linux-kernel', 2012),
 ('sails.js', 2010),
 ('callback', 2003),
 ('clojure', 2002),
 ('django-rest-framework', 1995),
 ('vagrant', 1994),
 ('hyperlink', 1993),
 ('orm', 1989),
 ('tree', 1987),
 ('phpmyadmin', 1987),
 ('design', 1982),
 ('compiler-errors', 1982),
 ('access-vba', 1979),
 ('ecmascript-6', 1969),
 ('asp.net-core', 1967),
 ('triggers', 1961),
 ('android-viewpager', 1960),
 ('sass', 1958),
 ('automation', 1929),
 ('dns', 1927),
 ('ftp', 1925),
 ('data-binding', 1921),
 ('sqlite3', 1915),
 ('file-io', 1915),
 ('material-design', 1915),
 ('sas', 1907),
 ('scope', 1902),
 ('google-cloud-messaging', 1899),
 ('sqlalchemy', 1892),
 ('scipy', 1889),
 ('cron', 1878),
 ('ant', 1877),
 ('android-actionbar', 1877),
 ('cocoa-touch', 1876),
 ('syntax', 1867),
 ('webforms', 1863),
 ('phantomjs', 1842),
 ('menu', 1838),
 ('3d', 1838),
 ('grep', 1837),
 ('transactions', 1835),
 ('model', 1831),
 ('jsf-2', 1822),
 ('wordpress-plugin', 1819),
 ('routing', 1818),
 ('compilation', 1818),
 ('calendar', 1816),
 ('path', 1816),
 ('react-native', 1815),
 ('android-ndk', 1813),
 ('drupal', 1812),
 ('scikit-learn', 1812),
 ('interface', 1810),
 ('download', 1810),
 ('tabs', 1807),
 ('ubuntu-14.04', 1806),
 ('jackson', 1804),
 ('permissions', 1796),
 ('url-rewriting', 1793),
 ('ms-word', 1785),
 ('functional-programming', 1782),
 ('routes', 1778),
 ('database-design', 1775),
 ('web-applications', 1772),
 ('get', 1769),
 ('asp.net-web-api2', 1767),
 ('process', 1763),
 ('datagrid', 1754),
 ('centos', 1743),
 ('mongodb-query', 1740),
 ('watchkit', 1732),
 ('f#', 1717),
 ('scrapy', 1707),
 ('uiscrollview', 1704),
 ('active-directory', 1703),
 ('group-by', 1701),
 ('gwt', 1700),
 ('configuration', 1690),
 ('exception-handling', 1688),
 ('properties', 1680),
 ('xampp', 1676),
 ('joomla', 1676),
 ('reference', 1667),
 ('hashmap', 1666),
 ('background', 1665),
 ('sql-server-2008-r2', 1661),
 ('beautifulsoup', 1661),
 ('network-programming', 1653),
 ('sonarqube', 1638),
 ('stream', 1634),
 ('sdk', 1633),
 ('drupal-7', 1623),
 ('windows-runtime', 1621),
 ('upload', 1615),
 ('jersey', 1613),
 ('cors', 1610),
 ('zend-framework2', 1605),
 ('null', 1601),
 ('jmeter', 1592),
 ('static', 1592),
 ('openssl', 1582),
 ('xsd', 1576),
 ('ckeditor', 1575),
 ('scripting', 1574),
 ('crash', 1572),
 ('nested', 1568),
 ('emacs', 1567),
 ('sbt', 1566),
 ('async-await', 1561),
 ('uibutton', 1559),
 ('keyboard', 1545),
 ('youtube-api', 1540),
 ('composer-php', 1525),
 ('binary', 1523),
 ('request', 1521),
 ('dplyr', 1518),
 ('android-edittext', 1517),
 ('version-control', 1506),
 ('rabbitmq', 1504),
 ('javafx-8', 1500),
 ('uiimageview', 1499),
 ('coffeescript', 1498),
 ('char', 1497),
 ('character-encoding', 1494),
 ('fortran', 1491),
 ('javascript-events', 1490),
 ('crystal-reports', 1489),
 ('imageview', 1488),
 ('opengl-es', 1485),
 ('onclick', 1480),
 ('insert', 1456),
 ('cocoapods', 1455),
 ('apache-camel', 1455),
 ('lucene', 1455),
 ('kendo-grid', 1450),
 ('data.table', 1447),
 ('msbuild', 1446),
 ('rotation', 1445),
 ('ibm-mobilefirst', 1445),
 ('cakephp-3.0', 1444),
 ('twig', 1438),
 ('linker', 1437),
 ('header', 1436),
 ('sum', 1435),
 ('console', 1430),
 ('prolog', 1425),
 ('macros', 1424),
 ('wsdl', 1421),
 ('cuda', 1421),
 ('binding', 1418),
 ('geolocation', 1415),
 ('segmentation-fault', 1412),
 ('ldap', 1412),
 ('pip', 1411),
 ('leaflet', 1410),
 ('storyboard', 1410),
 ('installation', 1410),
 ('architecture', 1407),
 ('annotations', 1403),
 ('uiwebview', 1401),
 ('jaxb', 1400),
 ('pygame', 1400),
 ('statistics', 1397),
 ('drag-and-drop', 1395),
 ('flexbox', 1395),
 ('mule', 1388),
 ('stl', 1387),
 ('iterator', 1387),
 ('google-drive-sdk', 1384),
 ('json.net', 1381),
 ('jframe', 1375),
 ('telerik', 1375),
 ('win-universal-app', 1371),
 ('mfc', 1371),
 ('textbox', 1369),
 ('asp.net-identity', 1367),
 ('listbox', 1364),
 ('xml-parsing', 1363),
 ('ms-access-2010', 1363),
 ('x86', 1363),
 ('ember-cli', 1361),
 ('zend-framework', 1359),
 ('navigation', 1354),
 ('android-5.0-lollipop', 1351),
 ('wso2', 1345),
 ('ibm-bluemix', 1345),
 ('pyqt', 1342),
 ('spring-data', 1341),
 ('windows-8.1', 1340),
 ('namespaces', 1339),
 ('format', 1337),
 ('nosql', 1336),
 ('coldfusion', 1336),
 ('requirejs', 1335),
 ('uwp', 1332),
 ('cryptography', 1332),
 ('retrofit', 1331),
 ('google-play-services', 1331),
 ('modal-dialog', 1330),
 ('django-forms', 1329),
 ('textview', 1326),
 ('garbage-collection', 1325),
 ('debian', 1322),
 ('gps', 1317),
 ('webpack', 1313),
 ('webdriver', 1313),
 ('eclipse-plugin', 1312),
 ('int', 1310),
 ('attributes', 1309),
 ('ansible', 1301),
 ('windows-store-apps', 1300),
 ('integer', 1299),
 ('localization', 1293),
 ('sql-update', 1288),
 ('uinavigationcontroller', 1284),
 ('floating-point', 1282),
 ('logstash', 1275),
 ('phonegap-plugins', 1273),
 ('numbers', 1270),
 ('operating-system', 1269),
 ('akka', 1264),
 ('jqgrid', 1258),
 ('ipython', 1258),
 ('gson', 1257),
 ('navigation-drawer', 1255),
 ('sitecore', 1250),
 ('neural-network', 1247),
 ('switch-statement', 1246),
 ('jvm', 1244),
 ('arm', 1241),
 ('asp-classic', 1240),
 ('output', 1237),
 ('smtp', 1236),
 ('frameworks', 1236),
 ('mono', 1234),
 ('mocking', 1230),
 ('duplicates', 1226),
 ('spring-integration', 1223),
 ('html5-canvas', 1222),
 ('timestamp', 1219),
 ('nuget', 1218),
 ('gem', 1216),
 ('nlp', 1216),
 ('make', 1214),
 ('return', 1213),
 ('jasper-reports', 1212),
 ('fragment', 1209),
 ('less', 1208),
 ('python-requests', 1207),
 ('jni', 1206),
 ('tags', 1206),
 ('dialog', 1203),
 ('http-headers', 1201),
 ('hbase', 1197),
 ('slider', 1197),
 ('chef', 1195),
 ('qml', 1192),
 ('db2', 1192),
 ('bigdata', 1190),
 ('find', 1190),
 ('signalr', 1189),
 ('popup', 1188),
 ('hdfs', 1188),
 ('ember-data', 1187),
 ('django-templates', 1183),
 ('gmail', 1182),
 ('directory', 1180),
 ('set', 1178),
 ('serial-port', 1178),
 ('css-selectors', 1176),
 ('passwords', 1176),
 ('formatting', 1175),
 ('android-volley', 1175),
 ('boolean', 1174),
 ('mockito', 1173),
 ('dependencies', 1168),
 ('jax-rs', 1167),
 ('xamarin.forms', 1167),
 ('owin', 1163),
 ('uiimage', 1163),
 ('stack', 1161),
 ('fullcalendar', 1160),
 ('compare', 1160),
 ('apple-push-notifications', 1159),
 ('location', 1158),
 ('sharepoint-2013', 1158),
 ('delegates', 1157),
 ('copy', 1156),
 ('command', 1154),
 ('order', 1152),
 ('udp', 1152),
 ('ip', 1149),
 ('sublimetext3', 1147),
 ('cypher', 1146),
 ('google-play', 1145),
 ('nhibernate', 1145),
 ('initialization', 1144),
 ('django-views', 1141),
 ('xmlhttprequest', 1139),
 ('localhost', 1138),
 ('apache-pig', 1133),
 ('broadcastreceiver', 1132),
 ('mocha', 1130),
 ('wildfly', 1128),
 ('computer-vision', 1128),
 ('angular-ui-bootstrap', 1127),
 ('doctrine', 1127),
 ('itunesconnect', 1126),
 ('python-3.4', 1125),
 ('phpunit', 1125),
 ('radio-button', 1123),
 ('phpstorm', 1121),
 ('pycharm', 1121),
 ('log4j', 1119),
 ('apple-watch', 1113),
 ('grid', 1111),
 ('office365', 1111),
 ('osx-yosemite', 1111),
 ('openshift', 1110),
 ('realm', 1109),
 ('dart', 1108),
 ('angular2', 1105),
 ('timezone', 1105),
 ('save', 1105),
 ('windows-phone', 1105),
 ('asp.net-core-mvc', 1102),
 ('cordova-plugins', 1101),
 ('android-recyclerview', 1097),
 ('apache-kafka', 1095),
 ('widget', 1095),
 ('in-app-purchase', 1090),
 ('apache-poi', 1089),
 ('event-handling', 1087),
 ('package', 1086),
 ('struts2', 1085),
 ('base64', 1082),
 ('magento-1.9', 1080),
 ('wix', 1079),
 ('c++14', 1078),
 ('jtable', 1077),
 ('testng', 1076),
 ('glassfish', 1075),
 ('segue', 1073),
 ('constraints', 1073),
 ('queue', 1069),
 ('pyspark', 1066),
 ('client', 1065),
 ('printf', 1064),
 ('arguments', 1062),
 ('bower', 1055),
 ('polymorphism', 1051),
 ('internet-explorer-11', 1050),
 ('liferay', 1050),
 ('web-crawler', 1046),
 ('seo', 1046),
 ('google-visualization', 1044),
 ('rstudio', 1044),
 ('maps', 1044),
 ('ide', 1043),
 ('kernel', 1041),
 ('tableview', 1040),
 ('subprocess', 1039),
 ('underscore.js', 1039),
 ('polymer-1.0', 1038),
 ('build.gradle', 1038),
 ('browserify', 1037),
 ('time-series', 1030),
 ('admob', 1029),
 ('position', 1029),
 ('handlebars.js', 1027),
 ('appium', 1026),
 ('android-camera', 1025),
 ('clang', 1025),
 ('dojo', 1022),
 ('range', 1022),
 ('gdb', 1021),
 ('web-api', 1017),
 ('continuous-integration', 1016),
 ('uitextfield', 1015),
 ('media-queries', 1015),
 ('odata', 1014),
 ('erlang', 1014),
 ('jquery-plugins', 1013),
 ('bootstrap-modal', 1012),
 ('jsoup', 1012),
 ('internationalization', 1011),
 ('webrtc', 1010),
 ('migration', 1008),
 ('excel-2010', 1008),
 ('treeview', 1006),
 ('tuples', 1006),
 ('tomcat7', 1004),
 ('imagemagick', 1003),
 ('automated-tests', 1002),
 ('hover', 1002),
 ('spring-batch', 1001),
 ('user', 1000),
 ('jms', 999),
 ('multiprocessing', 998),
 ('xmpp', 998),
 ('ios7', 998),
 ('hex', 997),
 ('phonegap-build', 996),
 ('virtual-machine', 995),
 ('itext', 994),
 ('runtime-error', 994),
 ('cygwin', 994),
 ('bluetooth-lowenergy', 993),
 ('iteration', 992),
 ('apache-spark-sql', 991),
 ('append', 991),
 ('export', 991),
 ('foreign-keys', 990),
 ('website', 989),
 ('closures', 988),
 ('pattern-matching', 986),
 ('icons', 982),
 ('virtualbox', 980),
 ('com', 979),
 ('resize', 979),
 ('ef-code-first', 979),
 ('subquery', 979),
 ('jpanel', 978),
 ('syntax-error', 978),
 ('vb6', 973),
 ('zip', 964),
 ('report', 963),
 ('android-animation', 963),
 ('windows-7', 962),
 ('java.util.scanner', 961),
 ('synchronization', 960),
 ('playframework-2.0', 959),
 ('odoo', 958),
 ('web-config', 956),
 ('type-conversion', 954),
 ('connection', 954),
 ('jade', 953),
 ('window', 951),
 ('logic', 949),
 ('label', 948),
 ('double', 948),
 ('key', 947),
 ('g++', 946),
 ('malloc', 944),
 ('usb', 942),
 ('click', 942),
 ('timeout', 942),
 ('ssl-certificate', 940),
 ('firefox-addon', 939),
 ('certificate', 939),
 ('silverlight', 936),
 ('cursor', 936),
 ('time-complexity', 936),
 ('geometry', 936),
 ('wordpress-theming', 935),
 ('task', 935),
 ('openerp', 932),
 ('google-bigquery', 931),
 ('video-streaming', 929),
 ('ipython-notebook', 927),
 ('kivy', 926),
 ('avfoundation', 925),
 ('java-stream', 925),
 ('elixir', 922),
 ('google-oauth', 921),
 ('environment-variables', 921),
 ('pthreads', 919),
 ('http-post', 917),
 ('qt5', 916),
 ('jetty', 915),
 ('uilabel', 914),
 ('itextsharp', 910),
 ('rss', 908),
 ('substring', 907),
 ('app-store', 906),

In [47]:
dic_tags = dict(Counter(tags_total))
sorted(dic_tags.items(), key=lambda item:item[1], reverse=True)[1:11]

[('javascript', 272130),
 ('java', 229712),
 ('php', 182744),
 ('android', 180511),
 ('c#', 165000),
 ('python', 144287),
 ('jquery', 136671),
 ('html', 125674),
 ('ios', 107391),
 ('css', 88973)]

We could know that except for the NaN tags, the most popular 10 tags are listed above. javascript takes the first place. Which means the most popular questions. So company could pay more attention to more popular items to get a better business result.

And another thing is that we also want to know for people in different countries, what kind of tag is more popular, i.e. what questions people tend to more posts? this question may help company in improving business model in individual countries.

For example, in India

In [48]:
df_country_tag = post_tb[["location","id","tags"]]
df_country_tag_indian = df_country_tag[df_country_tag["location"]=="INDIA"]
tags_total_india = []
df_country_tag_india_list = df_country_tag_indian.tags.tolist()
for each in df_country_tag_india_list:
    tags_total_india.extend(str(each).split("|"))
dic_tags_india = dict(Counter(tags_total_india))

In [50]:
sorted(dic_tags_india.items(), key=lambda item:item[1], reverse=True)[1:11]

[('android', 14460),
 ('java', 14009),
 ('javascript', 13249),
 ('php', 9595),
 ('jquery', 8256),
 ('c#', 6523),
 ('ios', 6512),
 ('html', 5580),
 ('angularjs', 5256),
 ('python', 4871)]

For example, In United States/USA

In [51]:
df_country_tag_usa = df_country_tag[(df_country_tag["location"]=="UNITED STATES") | (df_country_tag["location"]=="USA")]
tags_total_usa = []
df_country_tag_usa_list = df_country_tag_usa.tags.tolist()
for each in df_country_tag_usa_list:
    tags_total_usa.extend(str(each).split("|"))
dic_tags_usa = dict(Counter(tags_total_usa))

In [52]:
sorted(dic_tags_usa.items(), key=lambda item:item[1], reverse=True)[1:11]

[('javascript', 11319),
 ('java', 7297),
 ('python', 6739),
 ('c#', 5741),
 ('ios', 4986),
 ('android', 4370),
 ('jquery', 4365),
 ('html', 4212),
 ('php', 4160),
 ('angularjs', 3480)]

Except for nan values, the most popular posts in India is android, java, and javascript. In America, is javascript, java, python. In India python is 10th but in America python is 3rd. While in the total result, the first place is taken by javascript,java, php so company should pay more attention to different business model in different countries/regions.

And we want to know the view count information between view count and tags, we have already know the popular tages, take javascript, java

In [72]:
javascript = post_tb.loc[post_tb.tags.str.contains("javascript", na=False)]
java = post_tb.loc[post_tb.tags.str.contains("java", na=False)]

In [73]:
javascript["view_count"].mean()

221.28726464818016

In [74]:
javascript["view_count"].median()

73.0

In [75]:
javascript["view_count"].sum()

60457451.0

In [76]:
javascript["view_count"].std()

900.1724988258874

In [77]:
java["view_count"].mean()

229.8248259837946

In [78]:
java["view_count"].median()

78.0

In [79]:
java["view_count"].sum()

116717687.0

In [80]:
java["view_count"].std()

908.2693175460565

We could see that in the statistical performance different tages performs differently.

And we now have month information, it is still a good method to do research monthly.

We first generate 12 tables and then do some analysis on individual tables.

In [69]:
post_tb['creation_month'] = post_tb['creation_month'].apply(lambda x:int(x))

In [70]:
post_tb[post_tb["creation_month"]==12]

,id,title,accepted_answer_id,answer_count,comment_count,community_owned_date,favorite_count,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count,location,creation_month,creation_hour,time_interval,weekday
0,34016263,Real alternative for Google Feed API,NaN,0.0,13,NaN,9.0,2015-12-04 11:52:25.647 UTC,NaN,4671020.0,NaN,4671020.0,NaN,1,15,javascript|php|json|rss|google-feed-api,4240.0,NAN,12,08,3,1
2,34054617,Magento 2 installing language packs (nl_NL tra...,34055069.0,1.0,0,NaN,3.0,2015-12-11 03:52:32.467 UTC,NaN,1364007.0,NaN,3215647.0,NaN,1,2,magento|magento2|magento-2.0,2938.0,NETHERLANDS,12,22,14,2
7,34498830,Decode X-JWT-Assertion using axiom-api in java,34499026.0,1.0,2,NaN,4.0,2015-12-28 19:02:02.787 UTC,user5268786,NaN,user5268786,NaN,NaN,1,2,java|jwt,120.0,ON THE SERVER FARM,12,18,0,0
11,34546446,Flattening TypeScript typings or interfaces?,34627194.0,1.0,2,NaN,3.0,2015-12-31 12:38:13.553 UTC,NaN,553609.0,NaN,553609.0,NaN,1,8,typescript|angular2|definitelytyped,379.0,DENMARK,12,12,5,3
68,34074113,NaN,NaN,NaN,0,NaN,NaN,2016-05-06 13:57:05.07 UTC,NaN,5627177.0,NaN,5627177.0,34071715.0,2,0,NaN,NaN,USA,12,19,154,3
69,34435132,NaN,NaN,NaN,0,NaN,NaN,2015-12-23 12:23:43.423 UTC,NaN,4593390.0,NaN,5377161.0,4546856.0,2,0,NaN,NaN,CV,12,11,0,2
81,34292059,NaN,NaN,NaN,0,NaN,NaN,2015-12-15 15:08:27.587 UTC,NaN,928570.0,NaN,928570.0,34288911.0,2,0,NaN,NaN,NAN,12,14,0,1
88,34041036,NaN,NaN,NaN,0,NaN,NaN,2015-12-02 11:11:00.657 UTC,NaN,944593.0,NaN,3769370.0,34039957.0,2,0,NaN,NaN,NAN,12,10,0,2
100,34233107,NaN,NaN,NaN,0,NaN,NaN,2015-12-11 23:02:22.293 UTC,NaN,5273921.0,NaN,5273921.0,34232604.0,2,0,NaN,NaN,CANADA,12,21,0,4
106,34508989,NaN,NaN,NaN,0,NaN,NaN,2015-12-29 12:03:00.247 UTC,NaN,410677.0,NaN,410677.0,34508008.0,2,0,NaN,NaN,SRI LANKA,12,10,0,1
130,34409204,NaN,NaN,NaN,0,NaN,NaN,2015-12-23 10:40:35.593 UTC,NaN,4318982.0,NaN,4318982.0,28097758.0,2,0,NaN,NaN,NAN,12,05,1,1
132,34219292,NaN,NaN,NaN,0,NaN,NaN,2015-12-11 09:51:04.36 UTC,NaN,1606577.0,NaN,5667861.0,32279537.0,2,0,NaN,NaN,INDIA,12,08,0,4
133,34055321,NaN,NaN,NaN,0,NaN,NaN,2015-12-02 23:54:57.353 UTC,NaN,207421.0,NaN,207421.0,34055052.0,2,0,NaN,NaN,NAN,12,23,0,2
136,34071315,NaN,NaN,NaN,0,NaN,NaN,2015-12-03 18:17:48.007 UTC,NaN,13302.0,NaN,4890732.0,34070856.0,2,0,NaN,NaN,SWITZERLAND,12,16,0,3
162,34092666,NaN,NaN,NaN,0,NaN,NaN,2015-12-05 11:22:33.947 UTC,NaN,4643869.0,NaN,4643869.0,15777821.0,2,0,NaN,NaN,NAN,12,16,0,4
164,34032750,NaN,NaN,NaN,0,NaN,NaN,2015-12-02 01:30:14.513 UTC,NaN,4099598.0,NaN,3879341.0,33474147.0,2,0,NaN,NaN,NAN,12,00,0,2
165,34298783,NaN,NaN,NaN,0,NaN,NaN,2015-12-15 21:55:18.007 UTC,NaN,5150327.0,NaN,5150327.0,34260453.0,2,0,NaN,NaN,BRAZIL,12,20,0,1
180,34078674,NaN,NaN,NaN,0,NaN,NaN,2015-12-04 00:14:34.477 UTC,NaN,5606222.0,NaN,5606222.0,34078628.0,2,0,NaN,NaN,NAN,12,00,0,4
184,34425921,NaN,NaN,NaN,0,NaN,NaN,2015-12-22 23:31:39.41 UTC,NaN,5117739.0,NaN,5117739.0,34425412.0,2,0,NaN,NaN,NAN,12,23,0,1
188,34193082,NaN,NaN,NaN,0,NaN,NaN,2015-12-14 16:40:11.34 UTC,NaN,1016716.0,NaN,1410671.0,34181294.0,2,0,NaN,NaN,NC,12,03,4,3
212,34115365,NaN,NaN,NaN,0,NaN,NaN,2015-12-06 13:40:33.9 UTC,NaN,3745821.0,NaN,3745821.0,34114368.0,2,0,NaN,NaN,CA,12,08,0,6
231,34523759,NaN,NaN,NaN,0,NaN,NaN,2015-12-30 06:08:17.96 UTC,NaN,1869846.0,NaN,424830.0,34523737.0,2,0,NaN,NaN,INDIA,12,05,0,2
232,34337991,NaN,NaN,NaN,0,NaN,NaN,2015-12-17 19:32:05.93 UTC,NaN,2141635.0,NaN,2141635.0,34336273.0,2,0,NaN,NaN,IRELAND,12,15,0,3
251,34444749,NaN,NaN,NaN,0,NaN,NaN,2015-12-23 22:38:28.23 UTC,NaN,5709430.0,NaN,5709430.0,34444563.0,2,0,NaN,NaN,NAN,12,22,0,2
282,34146201,NaN,NaN,NaN,0,NaN,NaN,2015-12-08 04:03:26.46 UTC,NaN,1736537.0,NaN,1736537.0,24289151.0,2,0,NaN,NaN,CANADA,12,00,0,1
299,34228416,NaN,NaN,NaN,0,NaN,NaN,2015-12-11 16:49:13.9 UTC,NaN,1221684.0,NaN,1221684.0,34227827.0,2,0,NaN,NaN,NAN,12,16,0,4
305,34015632,NaN,NaN,NaN,0,NaN,NaN,2015-12-01 08:24:50.213 UTC,NaN,4828132.0,NaN,4828132.0,34011679.0,2,0,NaN,NaN,SILENCE IS GOLDEN PEOPLE,12,08,0,1
314,34379876,NaN,NaN,NaN,0,NaN,NaN,2015-12-20 10:18:55.493 UTC,NaN,1529673.0,NaN,5517143.0,34379348.0,2,0,NaN,NaN,INDIA,12,10,0,6
319,34432612,NaN,NaN,NaN,0,NaN,NaN,2015-12-23 10:40:09.013 UTC,NaN,5710519.0,NaN,5710519.0,26216478.0,2,0,NaN,NaN,NAN,12,09,0,2
343,34396785,NaN,NaN,NaN,0,NaN,NaN,2015-12-21 13:28:59.873 UTC,NaN,87698.0,NaN,87698.0,34396266.0,2,1,NaN,NaN,AUSTRIA,12,13,0,0
344,34247246,NaN,NaN,NaN,0,NaN,NaN,2015-12-13 02:47:12.25 UTC,NaN,713907.0,NaN,713907.0,34158582.0,2,1,NaN,NaN,NAN,12,02,0,6
346,34153270,NaN,NaN,NaN,0,NaN,NaN,2015-12-08 12:20:40.013 UTC,NaN,5009933.0,NaN,5009933.0,34153104.0,2,1,NaN,NaN,INDIA,12,10,0,1
347,34181176,NaN,NaN,NaN,0,NaN,NaN,2015-12-10 07:01:32.393 UTC,NaN,3534681.0,NaN,3534681.0,34180880.0,2,1,NaN,NaN,UKRAINE,12,14,0,2
363,34180600,NaN,NaN,NaN,0,NaN,NaN,2015-12-10 18:15:08.79 UTC,NaN,71509.0,NaN,4329153.0,34066587.0,2,1,NaN,NaN,CYPRUS,12,13,1,2
370,34282518,NaN,NaN,NaN,0,NaN,NaN,2015-12-15 07:02:57.06 UTC,user5600983,NaN,user5600983,NaN,34272214.0,2,1,NaN,NaN,ON THE SERVER FARM,12,06,0,1
406,34471698,NaN,NaN,NaN,0,NaN,NaN,2015-12-26 13:25:58.94 UTC,NaN,4000926.0,NaN,4000926.0,34471584.0,2,1,NaN,NaN,GERMANY,12,13,0,5
408,34314583,NaN,NaN,NaN,0,NaN,NaN,2015-12-16 15:29:44.74 UTC,NaN,4265041.0,NaN,4265041.0,34293012.0,2,1,NaN,NaN,NAN,12,14,0,2
421,34084137,NaN,NaN,NaN,0,NaN,NaN,2015-12-04 08:50:52.543 UTC,NaN,112571.0,NaN,112571.0,34084025.0,2,1,NaN,NaN,NAN,12,08,0,4
438,34257409,NaN,NaN,NaN,0,NaN,NaN,2015-12-19 20:35:23.34 UTC,NaN,1529308.0,NaN,1529308.0,34257358.0,2,1,NaN,NaN,ESTONIA,12,22,5,6
439,34204048,NaN,NaN,NaN,0,NaN,NaN,2015-12-10 14:18:10.51 UTC,NaN,1699210.0,NaN,4145398.0,27191733.0,2,1,NaN,NaN,NAN,12,14,0,3
451,34458986,NaN,NaN,NaN,0,NaN,NaN,2015-12-25 00:17:16.777 UTC,NaN,2141635.0,NaN,2141635.0,34458596.0,2,1,NaN,NaN,IRELAND,12,00,0,4
455,34328442,NaN,NaN,NaN,0,NaN,NaN,2015-12-17 07:04:57.263 UTC,NaN,2067976.0,NaN,2067976.0,34328320.0,2,1,NaN,NaN,UKRAINE,12,06,0,3
472,34344515,NaN,NaN,NaN,0,NaN,NaN,2015-12-18 01:20:52.813 UTC,NaN,865719.0,NaN,865719.0,34343046.0,2,1,NaN,NaN,FRANCE,12,21,0,3
476,34062077,NaN,NaN,NaN,0,NaN,NaN,2015-12-03 10:08:12.74 UTC,NaN,1849444.0,NaN,1849444.0,34061747.0,2,1,NaN,NaN,NAN,12,09,0,3
479,34317953,NaN,NaN,NaN,0,NaN,NaN,2015-12-17 02:17:51.223 UTC,NaN,589924.0,NaN,589924.0,34308439.0,2,1,NaN,NaN,NAN,12,17,0,2
481,34140245,NaN,NaN,NaN,0,NaN,NaN,2015-12-07 18:32:03.35 UTC,NaN,5651151.0,NaN,5651151.0,22550050.0,2,1,NaN,NaN,NAN,12,18,0,0
483,34379725,NaN,NaN,NaN,0,NaN,NaN,2015-12-20 15:04:15.557 UTC,NaN,4150352.0,NaN,4150352.0,34379715.0,2,1,NaN,NaN,MOROCCO,12,09,0,6
512,34506323,NaN,NaN,NaN,0,NaN,NaN,2015-12-29 08:50:57.133 UTC,NaN,1115340.0,NaN,483647.0,34506244.0,2,2,NaN,NaN,ISRAEL,12,07,0,1
547,34545388,NaN,NaN,NaN,0,NaN,NaN,2015-12-31 23:25:07.667 UTC,NaN,139985.0,NaN,139985.0,34545126.0,2,2,NaN,NaN,AUSTRALIA,12,10,0,3
558,34515428,NaN,NaN,NaN,0,NaN,NaN,2015-12-29 17:00:59.907 UTC,NaN,3144159.0,NaN,3144159.0,34511048.0,2,2,NaN,NaN,MARBELLA,12,16,0,1
574,34226814,NaN,NaN,NaN,0,NaN,NaN,2015-12-13 13:51:18.957 UTC,NaN,125549.0,NaN,3150338.0,34225701.0,2,3,NaN,NaN,GERMANY,12,15,1,4
579,34411988,NaN,NaN,NaN,0,NaN,NaN,2015-12-22 09:24:25.713 UTC,NaN,2899618.0,NaN,2899618.0,34410756.0,2,3,NaN,NaN,INDIA,12,09,0,1
596,34243357,NaN,NaN,NaN,0,NaN,NaN,2015-12-12 18:37:18.523 UTC,NaN,1743880.0,NaN,5581141.0,1957831.0,2,3,NaN,NaN,NAN,12,18,0,5
600,34492455,NaN,NaN,NaN,0,NaN,NaN,2015-12-28 15:51:48.033 UTC,NaN,497364.0,NaN,497364.0,34489200.0,2,3,NaN,NaN,ITALY,12,11,0,0
604,34260992,NaN,NaN,NaN,0,NaN,NaN,2015-12-14 06:59:44.61 UTC,NaN,3095498.0,NaN,5631307.0,34260884.0,2,3,NaN,NaN,INDIA,12,06,0,0
621,34044001,NaN,NaN,NaN,0,NaN,NaN,2015-12-02 13:52:52.46 UTC,NaN,2557258.0,NaN,2557258.0,7664315.0,2,4,NaN,NaN,NAN,12,13,0,2
623,34498069,NaN,NaN,NaN,0,NaN,NaN,2015-12-28 18:45:53.527 UTC,NaN,2801237.0,NaN,2801237.0,34497348.0,2,4,NaN,NaN,NAN,12,17,0,0
636,34112264,NaN,NaN,NaN,0,NaN,NaN,2015-12-05 23:50:19.913 UTC,NaN,1743880.0,NaN,1743880.0,34112214.0,2,5,NaN,NaN,FRANCE,12,23,0,5
647,34531623,NaN,NaN,NaN,0,NaN,NaN,2015-12-31 15:37:25.133 UTC,NaN,3597276.0,NaN,3597276.0,34530852.0,2,6,NaN,NaN,USA,12,14,1,2
668,34148359,NaN,NaN,NaN,0,NaN,NaN,2016-01-08 18:33:41.88 UTC,NaN,1860648.0,NaN,1860648.0,34148216.0,2,9,NaN,NaN,NAN,12,05,31,1
689,34250680,NaN,NaN,NaN,1,NaN,NaN,2015-12-13 11:46:20.327 UTC,NaN,5069223.0,NaN,5303351.0,34247013.0,2,0,NaN,NaN,NAN,12,11,0,6
693,34453761,NaN,NaN,NaN,1,NaN,NaN,2015-12-25 06:21:01.62 UTC,NaN,2470753.0,NaN,2470753.0,34451337.0,2,0,NaN,NaN,INDONESIA,12,13,0,3
708,34201260,NaN,NaN,NaN,1,NaN,NaN,2015-12-10 12:02:14.82 UTC,NaN,3593011.0,NaN,3593011.0,34200831.0,2,0,NaN,NaN,MOLDOVA,12,11,0,3
713,34418751,NaN,NaN,NaN,1,NaN,NaN,2015-12-23 00:43:23.683 UTC,NaN,5509738.0,NaN,5509738.0,34414107.0,2,0,NaN,NaN,SALEM OREGON,12,15,0,1
724,34080635,NaN,NaN,NaN,1,NaN,NaN,2015-12-04 03:53:40.957 UTC,NaN,4800955.0,NaN,5637126.0,34080512.0,2,0,NaN,NaN,NAN,12,03,0,4
748,34092215,NaN,NaN,NaN,1,NaN,NaN,2015-12-08 16:44:20.407 UTC,NaN,1016716.0,NaN,2864119.0,34091257.0,2,0,NaN,NaN,UNITED STATES,12,15,4,4
751,34437334,NaN,NaN,NaN,1,NaN,NaN,2015-12-24 11:35:14.117 UTC,NaN,1808924.0,NaN,1808924.0,34433588.0,2,0,NaN,NaN,NAN,12,14,0,2
753,34531470,NaN,NaN,NaN,1,NaN,NaN,2015-12-30 14:53:06.38 UTC,NaN,78522.0,NaN,3754390.0,34526806.0,2,0,NaN,NaN,NAN,12,14,0,2
754,34426519,NaN,NaN,NaN,1,NaN,NaN,2015-12-23 02:16:25.773 UTC,NaN,4831822.0,NaN,4831822.0,34425902.0,2,0,NaN,NaN,AUSTRALIA,12,00,0,2
765,34390439,NaN,NaN,NaN,1,NaN,NaN,2015-12-21 07:19:00.13 UTC,NaN,2666289.0,NaN,4413054.0,34390102.0,2,0,NaN,NaN,GERMANY,12,07,0,0
772,34496134,NaN,NaN,NaN,1,NaN,NaN,2015-12-28 15:31:55.307 UTC,NaN,146325.0,NaN,146325.0,34495074.0,2,1,NaN,NaN,UNITED KINGDOM,12,15,0,0
790,34221501,NaN,NaN,NaN,1,NaN,NaN,2015-12-12 10:32:37.41 UTC,NaN,2151050.0,NaN,1239781.0,34221085.0,2,1,NaN,NaN,NAN,12,10,0,4
815,34309694,NaN,NaN,NaN,1,NaN,NaN,2015-12-16 13:59:50.703 UTC,NaN,6782.0,NaN,6782.0,34309433.0,2,1,NaN,NaN,UNITED KINGDOM,12,10,0,2
829,34500808,NaN,NaN,NaN,1,NaN,NaN,2015-12-28 21:16:14.52 UTC,NaN,881798.0,NaN,881798.0,34500486.0,2,1,NaN,NaN,UNITED STATES,12,21,0,0
835,34384411,NaN,NaN,NaN,1,NaN,NaN,2015-12-20 18:43:35.847 UTC,NaN,1373162.0,NaN,1373162.0,34383583.0,2,1,NaN,NaN,USA,12,18,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5593560,34443602,Error in running test case using batch file vi...,34452524.0,3.0,2,NaN,NaN,NaN,NaN,NaN,NaN,3536165.0,NaN,1,0,selenium|selenium-webdriver|selenium-ide,497.0,EGYPT,12,20,103,2
5593578,34356338,456789345 is my input i want to get it as (456...,NaN,3.0,3,NaN,NaN,NaN,NaN,NaN,NaN,5607181.0,NaN,1,-3,sql|sql-server|sql-server-2008|function|tags,48.0,NAN,12,13,7,4
5593607,34526069,.prop() returns object rather than value,34526426.0,4.0,0,NaN,NaN,2015-12-30 09:05:44.17 UTC,NaN,462627.0,NaN,1926330.0,NaN,1,3,jquery,75.0,DANMARK,12,08,0,2
5593630,34452913,Accepting a 'n x n' Matrix in C#,34453879.0,4.0,5,NaN,NaN,2015-12-24 12:50:07.737 UTC,NaN,5617888.0,NaN,5617888.0,NaN,1,0,c#|matrix,67.0,NAN,12,12,0,3
5593634,34140862,Is there a polynomial algorithm to find an ass...,NaN,4.0,5,NaN,NaN,2015-12-07 18:48:14.237 UTC,NaN,3355476.0,NaN,1258455.0,NaN,1,4,algorithm|dynamic-programming|intervals|graph-...,94.0,ARGENTINA,12,18,0,0
5593648,34262846,Couldn't replace numbers with values in d3 js ...,NaN,4.0,0,NaN,NaN,NaN,NaN,NaN,NaN,5031965.0,NaN,1,1,javascript|d3.js,36.0,SWITZERLAND,12,08,0,0
5593650,34436207,CSS is not fixed at bottom of the page,NaN,4.0,0,NaN,NaN,NaN,NaN,NaN,NaN,5436964.0,NaN,1,2,css,60.0,NAN,12,12,7,2
5593668,34497972,Background isn't changing as it should - Jquer...,34498376.0,4.0,6,NaN,NaN,NaN,NaN,NaN,NaN,4792013.0,NaN,1,1,javascript|jquery|html|css|background-image,50.0,NAN,12,17,0,0
5593709,34472008,AngularJS - Protect JS resources,NaN,0.0,0,NaN,0.0,2015-12-27 19:05:50.167 UTC,NaN,3601275.0,NaN,3601275.0,NaN,1,0,javascript|angularjs|security,57.0,NAN,12,13,1,5
5593718,34241515,Cannot get value from db when select Contact F...,NaN,0.0,8,NaN,0.0,2015-12-13 03:52:27.797 UTC,NaN,1741028.0,NaN,1741028.0,NaN,1,0,python|mysql|tkinter,49.0,NAN,12,15,0,5
5593720,34285415,How to move console window,NaN,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,5600726.0,NaN,1,0,cmd|console|move,12.0,NAN,12,09,0,1
5593724,34293726,Can BreakIterator be made to recognise 'tis as...,NaN,0.0,0,NaN,0.0,NaN,NaN,NaN,NaN,256196.0,NaN,1,1,java|string|text|apostrophe|word-boundary,11.0,AUSTRALIA,12,15,0,1
5593734,34322091,Script task component hanged,34423989.0,1.0,0,NaN,0.0,2016-05-02 14:15:07.57 UTC,NaN,1358810.0,NaN,1358810.0,NaN,1,0,vb.net|ssis|vb.net-2010|ssis-2012|ssis-2008,26.0,INDIA,12,21,137,2
5593739,34328237,I am not able to make a POST request in swift,NaN,1.0,0,NaN,0.0,2015-12-17 07:31:40.743 UTC,NaN,1629397.0,NaN,4822797.0,NaN,1,1,ios|swift|post,56.0,NAN,12,06,0,3
5593756,34075753,Is there a way to update specific dependency a...,34100705.0,1.0,2,NaN,0.0,2015-12-04 21:45:37.567 UTC,NaN,3449479.0,NaN,3449479.0,NaN,1,1,node.js|npm|web-deployment|package.json,28.0,NAN,12,20,1,3
5593759,34149795,Using BBBadgeBarButtonItem it was working fine...,NaN,1.0,3,NaN,0.0,2015-12-08 07:19:07.817 UTC,NaN,4869244.0,NaN,4869244.0,NaN,1,1,swift|badge,99.0,INDIA,12,06,0,1
5593762,34238960,Login page cant redirect to another page if us...,NaN,1.0,4,NaN,0.0,2015-12-12 12:16:21.16 UTC,NaN,5495476.0,NaN,5495476.0,NaN,1,0,php|mysql,54.0,NaN,12,10,0,5
5593764,34498660,Windows 10 Live Tile Branding Logo extremely s...,34522363.0,1.0,4,NaN,0.0,2015-12-29 08:21:44.633 UTC,NaN,5615622.0,NaN,5615622.0,NaN,1,0,uwp|live-tile|branding,173.0,NAN,12,18,1,0
5593786,34311333,JS-Data error: attrs must contain the property...,34318207.0,1.0,0,NaN,0.0,NaN,NaN,NaN,NaN,5265909.0,NaN,1,2,angularjs|jsdata|js-data-angular,241.0,NAN,12,11,0,2
5593787,34044286,How can I convert multiple coordinates to visu...,NaN,1.0,0,NaN,0.0,NaN,NaN,NaN,NaN,5630561.0,NaN,1,-1,routes|gps|converter,48.0,NAN,12,13,4,2
5593794,34433526,Wpf: Hide GridViewColumn in Listview,34449485.0,1.0,3,NaN,0.0,NaN,NaN,NaN,NaN,1921248.0,NaN,1,2,c#|wpf|listview|gridview|datagridviewcolumn,142.0,INDIA,12,10,1,2
5593802,34375520,Python won't run in bash but will run in cmd,NaN,1.0,8,NaN,0.0,NaN,NaN,NaN,NaN,5294505.0,NaN,1,0,python|bash,77.0,NAN,12,21,0,5
5593804,34515714,Pandas to_sql Trying to Index Nullable Column,NaN,2.0,0,NaN,0.0,2015-12-29 22:44:03.34 UTC,NaN,3734914.0,NaN,3734914.0,NaN,1,1,python|sql|pandas,30.0,UNITED STATES,12,17,0,1
5593819,34471573,How to extract the p.value and estimate from c...,34474711.0,2.0,5,NaN,0.0,2015-12-26 13:39:20.12 UTC,NaN,633251.0,NaN,5481941.0,NaN,1,1,r|for-loop|p-value,118.0,NAN,12,13,0,5
5593824,34063498,Retrieve rows that have a first entry in 2014 ...,34064144.0,2.0,14,NaN,0.0,2015-12-03 10:55:46.763 UTC,NaN,4796154.0,NaN,4796154.0,NaN,1,0,mysql|date,37.0,NAN,12,10,0,3
5593834,34010729,Click event doesn't work while trying to dynam...,34010775.0,2.0,3,NaN,0.0,NaN,NaN,NaN,NaN,4330540.0,NaN,1,0,javascript|jquery|html,73.0,NAN,12,00,0,1
5593837,34076260,Python - Finding keywords in a CSV,34076459.0,2.0,4,NaN,0.0,NaN,NaN,NaN,NaN,5582341.0,NaN,1,-2,python|csv,101.0,NAN,12,21,0,3
5593839,34318837,Equal height of UICollectionViewCell's and UIC...,34325023.0,3.0,0,NaN,0.0,2015-12-17 12:49:01.467 UTC,NaN,454049.0,NaN,454049.0,NaN,1,1,ios|swift|uicollectionview,307.0,NAN,12,17,0,2
5593846,34516914,Calling parent scope function from directive,NaN,3.0,0,NaN,0.0,NaN,NaN,NaN,NaN,1805897.0,NaN,1,3,javascript|angularjs|angularjs-directive|scope,83.0,SERBIA,12,18,0,1
5593851,34191903,Pre/Post Increment Pointers in C++,34192129.0,3.0,12,NaN,0.0,NaN,NaN,NaN,NaN,4401223.0,NaN,1,3,c++|pointers|increment|post-increment|pre-incr...,108.0,NaN,12,00,0,3
5593862,34281167,Many navigationControllers to one viewControll...,NaN,0.0,1,NaN,1.0,2015-12-15 05:53:16.69 UTC,NaN,1571232.0,NaN,4182529.0,NaN,1,1,ios|swift|uinavigationcontroller|storyboard|ui...,58.0,CANADA,12,04,0,1
5593869,34316479,changing css property with hover,NaN,0.0,3,NaN,1.0,2015-12-16 16:03:14.993 UTC,NaN,616443.0,NaN,5019381.0,NaN,1,1,html|css|animation|hover,32.0,NAN,12,15,0,2
5593872,34136790,Normalizing data and inverse,NaN,0.0,4,NaN,1.0,2015-12-07 15:21:53.983 UTC,NaN,5211833.0,NaN,5481364.0,NaN,1,0,matlab,65.0,NAN,12,15,0,0
5593887,34136536,how to apply a patch in oracle 12c,NaN,0.0,0,NaN,1.0,NaN,NaN,NaN,NaN,3380585.0,NaN,1,0,database,129.0,INDIA,12,14,0,0
5593897,34222290,Restrict the search area when solving multiple...,NaN,0.0,1,NaN,1.0,NaN,NaN,NaN,NaN,5455409.0,NaN,1,2,python|python-3.x|scipy|sympy|solver,41.0,NAN,12,11,0,4
5593899,34185887,Twilio Client Android v1.2.8 crashes when clie...,NaN,0.0,1,NaN,1.0,NaN,NaN,NaN,NaN,5659715.0,NaN,1,4,android|twilio,226.0,NAN,12,18,56,2
5593915,34209449,Using a std::unique_lock breaks XP compatibili...,NaN,0.0,6,NaN,1.0,NaN,NaN,NaN,NaN,2049445.0,NaN,1,1,c++|windows|c++11|dll|crt,84.0,NAN,12,18,0,3
5593921,34286877,Calling parent directive scope function from c...,34300423.0,1.0,0,NaN,1.0,2015-12-15 10:39:16.91 UTC,NaN,3445324.0,NaN,5681568.0,NaN,1,0,angularjs|scope|directive,53.0,NAN,12,10,3,1
5593924,34260166,Backend JSON To HTML for Front End,NaN,1.0,0,NaN,1.0,2015-12-14 05:58:01.17 UTC,NaN,3787519.0,NaN,5676523.0,NaN,1,0,javascript|json|node.js|rest|web-frontend,102.0,NAN,12,05,0,0
5593930,34061438,Escape character for a String in Spark-Sql,34061667.0,1.0,0,NaN,1.0,2015-12-03 09:06:21.347 UTC,NaN,1560062.0,NaN,3560220.0,NaN,1,0,sql|scala|apache-spark|apache-spark-sql|spark-...,205.0,NAN,12,08,0,3
5593931,34361335,Pelican i18n subsites menu items override,34370261.0,1.0,0,NaN,1.0,2015-12-18 19:18:07.5 UTC,NaN,1397535.0,NaN,1397535.0,NaN,1,1,python|html|localization|internationalization|...,21.0,THE NETHERLANDS,12,17,0,4
5593937,34150007,Spark performance - how to parallelize large l...,NaN,1.0,0,NaN,1.0,2015-12-08 07:29:41.54 UTC,NaN,3189923.0,NaN,4971542.0,NaN,1,1,performance|scala|parallel-processing|apache-s...,163.0,NAN,12,07,3,1
5593952,34276641,Collect results from parallel Celery task exec...,34279524.0,1.0,0,NaN,1.0,2015-12-14 21:33:42.717 UTC,NaN,1391671.0,NaN,1391671.0,NaN,1,3,python|celery|celery-task,74.0,UNITED STATES,12,21,85,0
5593973,34268620,Can a void pointer point to a lambda function?,34268676.0,1.0,1,NaN,1.0,2015-12-14 17:45:46.68 UTC,NaN,3699691.0,NaN,3699691.0,NaN,1,7,c++|c++11|lambda|void-pointers,210.0,THE NETHERLANDS,12,13,0,0
5593974,34251336,How to use Android Studio default Navigation D...,NaN,1.0,1,NaN,1.0,2015-12-13 13:08:44.39 UTC,NaN,5619030.0,NaN,5619030.0,NaN,1,-1,android|android-studio|navigation|drawer,263.0,NAN,12,13,0,6
5593987,34477839,Unable to GET entire page with Python request,34477957.0,1.0,2,NaN,1.0,2016-01-04 17:54:43.667 UTC,NaN,1322179.0,NaN,1322179.0,NaN,1,1,python|http|python-requests|urllib2,93.0,USA,12,05,8,6
5593988,34495146,HTTP Error 404.0 - Not Found Error Code 0x8007...,34562519.0,1.0,2,NaN,1.0,2015-12-28 14:55:10.057 UTC,NaN,1095630.0,NaN,1095630.0,NaN,1,1,asp.net|iis|routing|url-routing,142.0,IRAN,12,14,4,0
5593993,34337795,How do I use $httpBackend (e2e) without refres...,NaN,1.0,2,NaN,1.0,2015-12-17 16:33:30.473 UTC,NaN,3654179.0,NaN,3654179.0,NaN,1,3,angularjs|selenium|protractor,68.0,IRELAND,12,15,0,3
5594008,34232203,SQL Server to Mysql migration (using Mysql Wor...,NaN,1.0,3,NaN,1.0,2015-12-11 20:55:47.527 UTC,NaN,5670304.0,NaN,5670304.0,NaN,1,2,mysql|sql|migration,698.0,NAN,12,20,3,4
5594018,34113327,JavaFx: Check current position of PathTransiti...,34113780.0,1.0,5,NaN,1.0,2015-12-06 02:53:28.223 UTC,NaN,4316218.0,NaN,4316218.0,NaN,1,0,java|graphics|javafx|javafx-2|javafx-8,85.0,GERMANY,12,02,0,6
5594047,34312022,Getting error in when using ValidateForgeryTok...,NaN,1.0,0,NaN,1.0,NaN,NaN,NaN,NaN,3852268.0,NaN,1,0,asp.net-mvc|antiforgerytoken,32.0,INDIA,12,12,0,2

For example, the information of month 12 is listed above. We could do the similar analysis on it.

We also want to do prediction experiment.

Given that __view_count__ records the number of views the posts have been paid visit to, combining with some other statistics like __answer_count__, __comment_count__ or __favorite_count__, we can obtain normalized indicators to measure the posts with various metrics in different dimensions.
Hereby, we can define the __popularity_index__ as 
$$\textrm{popularity_index} = \frac{ \textrm{favorite_count} } { \textrm{view_count} }$$
where the action of users marking a post as favorite is a good proxy of how useful the user reagrds the post and, thus, how popular the post might be in general. The counts divided by the total number of views make sure the index is normalized within $[0, 1]$, which makes the index comparable for different posts. The __popularity_index__ can be used to rank the post and recommend to general users or categorized by different tags and recommended specifically to users searching for the correponding tags.

Furthermore, we also define the __informativeness_index__ as
$$\textrm{informativeness_index} = \frac{ 0.7 * \textrm{answer_count} + 0.3 * \textrm{comment_count} } {\textrm{view_count}}$$
where the number of answers and comments serves as a good proxy of the completeness of the responses to the post, in other words the richness and quality of the information in the post which can be useful to new users. Here the coefficients are manually assigned to the __answer_count__ and __comment_count__ respectively as 0.7 and 0.3, in order to weigh the answers to the post more important. Similar to the __popularity_index__, the sum of the counts is normalized by the total number of views. This index can be categorized by different tags and ranked in order to make recommendations for users (potentially new and inexperienced) that are searching for answers to certain tags(topics).

Finally, we can also define a composite index __ignorance_index__ as
$$\textrm{ignorance_index} = \frac{\textrm{popularity_index}}{\textrm{informativeness_index}} = \frac{\textrm{favorite_count}}{0.7 * \textrm{answer_count} + 0.3 * \textrm{comment_count}}$$
where we combine the previously defined two indices and show the level of _ignorance_ of the post, which means that the topic/question mentioned in the post is popular and relevant in general, but there lacks informative or complete answers and discussions. Similarly to the __informativeness_index__, this index can be categorized by different tags and ranked in order to make recommendations for users (potentially experienced) that are searching for tags(topics) to share and exchange knowledges.

In [85]:
def cal_ign(x):
    if math.isnan(x['favorite_count']) or math.isnan(x['answer_count']) or math.isnan(x['comment_count']):
        return 0
    else:
        return int(x['favorite_count'])/(0.7*int(x['answer_count'])+0.3*int(x['comment_count']))

this is the function to do the ignorance calculation